<dom-module id="codelab-block">
  <template>
    <link rel="stylesheet" href="./codelab-block.scss">

    <section class="block">
      <div class="sidebar">
        <template is="dom-repeat" items="[[pages]]">
          <a href="/codelabs/exer/[[codelabId]]/[[item.$key]]" class="page-item">
            <paper-ripple></paper-ripple>
            [[item.title]]
          </a>

        </template>
        <a href="/codelabs/exer/[[codelabId]]/submit" class="page-item">
          <paper-ripple></paper-ripple>
          Submit
        </a>
      </div>
      <div class="main">
        <div class$="header [[type]]-header">
          <h2 class="title">
            <a href="/codelabs" class="icon">
              <iron-icon icon="devfest:arrow-back" class="iron-icon"></iron-icon>
            </a>
            [[title]]
          </h2>
        </div>

        <div class="body">
          <template is="dom-if" if="[[!isSubmit(pageId)]]">
            <marked-element markdown="[[page]]">
              <div slot="markdown-html"></div>
            </marked-element>
          </template>

          <template is="dom-if" if="[[isSubmit(pageId)]]">
            <h1>Submit your Project</h1>
            <p>
              To get points, make sure you have connected <a href="/profile">your Github account</a> and submit your Github repo by typing the repo name here:
              (If your repo is in https://github.com/[account-name]/my-repo, then you'll need to put "my-repo" without the double-quotations).
            </p>
            <template is="dom-if" if="[[isGithub]]">
              <div class="form-repo">
                <paper-input label="Github repository name" value="{{repo}}"></paper-input>
                <template is="dom-if" if="[[!submitSpin]]">
                  <devfest-button-only on-tap="submit">
                    Submit
                  </devfest-button-only>
                </template>
                <template is="dom-if" if="[[submitSpin]]">
                  <paper-spinner class="spinner" active></paper-spinner>
                </template>
              </div>
            </template>
            <template is="dom-if" if="[[!isGithub]]">
              <a href="/profile">
                <devfest-button-only>
                  Connect your Github here.
                </devfest-button-only>
              </a>
            </template>
          </template>
        </div>

        <paper-fab class="previous" icon="devfest:navigate-before" on-tap="previous">
        </paper-fab>

        <paper-fab class="next" icon="devfest:navigate-next" on-tap="next">
        </paper-fab>
      </div>
    </section>



  </template>
</dom-module>
