.header {
  margin: 0 auto;
  max-width: 2000px;
  height: 600px;
  background: url('/images/header.png') bottom/cover no-repeat;
  @media only screen and (max-width: 2000px) {
    height: 600px;
  }

  @media only screen and (max-width: 1200px) {
    height: 500px;
  }

  @media only screen and (max-width: 600px) {
    height: 400px;
  }

  @media only screen and (max-width: 600px) {
    height: 250px;
  }

}
