.temp-link {
  padding: 20px;
  padding-top: 0px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 100px;
}
