.banner {
  font-family: 'Roboto';
  position: relative;
  // min-height: 150vh;
  min-height: calc(100vh - 112px);
  background: url('/images/devfest-bg-repeatable.png') center/contain repeat;

  > .banner-white {
    background: rgba(255,255,255, 0.75);
    min-height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  > .banner-container {
    position: relative;
    min-height: calc(100vh - 112px);
    display: block;

    > .banner-container-flex {
      @apply --layout-horizontal;
      @apply --layout-center;

      > .banner-image-text-container {
        position: relative;
        @apply --layout-flex;

        > .banner-image {
          position: relative;
          // padding-top: 100px;
          width: inherit;
          text-align: center;

          > img {
            width: 80%;
            max-width: 600px;
            margin-top: 100px;

            @media screen and (max-width: 500px) {
              margin-top: 50px;
            }
          }
        }

        .banner-slot {
          text-align: center;
          padding: 20px;
          padding-bottom: 100px;
        }
      }
    }
  }
}
