language: node_js
node_js: stable
dist: trusty
sudo: required
addons:
  firefox: latest
  sauce_connect: true
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_install:
- npm install -g bower firebase-tools karma-cli yarn
install:
- yarn install --flat
- bower install
- cd gulp && yarn install
script:
- cd gulp
- xvfb karma start karma.conf.js --single-run
# - xvfb-run wct
# - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --skip-plugin local; fi
before_deploy:
- npm run build-production
deploy:
  # deploy master to production
  - provider: script
    script: firebase deploy --token $FIREBASE_TOKEN --non-interactive --only hosting
    on:
      branch: master
branches:
  only:
  - master
  - develop
env:
  global:
  - secure: O6GDqr2TbHf5QA2iKJjErcZi0MsAoz3OnGTanAxyjJnK/1qr7K/FdMUv6pOZo0Nu05/P4bvll7Xn4y5C9EynaXc53d77eqcrXttbXzFD1WQ/UHr67waYOQPRN/wCPFDmxZsgSzakSAhD2JGPT+dFENrRVuPw7PmZXlKVDNa/W0MlqghvyDb/OH3o16W+5gmFvGVeCg5Bst54K77/V5uzWu34fgIzT1YZshCRn3LGoV5yOBmzXWjA5bJ56PAcXsD3aoWUZNNdb4jdqOJVffpKmqTbEe3MvvzuedkCJE3KmBpHkpb7yWBFFiwzFsJQaDEpQdQoUrWFM1mOTc91VNPfpghJ0AVhQMG4yTzi3klN1jYLpDh5BFUi0J7D2ttnDvfCZk7xRwt2X1o8lnDvEuEAdNL5BdbZWdhBsxVO4BwGR6aj5PI5m25TBdMgTgcniqzfD68E926p4/UqGc8hJJ2LaDYf0CNz99ej2PW5rEtfAbEl0NqfSD9x4oMNMn/Wh/Px5P1WxGDxTNb0HhYxPuyjInbk6jj0orDwa09p3vdICz30RLNZ/ip2cJBUHdAd9qyAul9d9LIu7hzmktNBXJ6hGE+QP2NlWhC4b3ykA20m7iFjxhRbyn5CFOPZTOJgmqL9eG+eFSrq00j98QfYF9Imhrpa5yQa8H59HTOI2n+gtuA=
  - secure: NKsQK0kkdBptAI4ZuRIZAUVPKxhBmS7dDSi0L6T1z3OOXYytKmvMyBWaF8pCNIjVwMjigtK8rpgXbji4tRQtpEKSYjZEQhGr/YV5RQpRtHjAq1g/LG1FcdYpXg6IpZC36YtEj69sLxq1ZndlDSCXXXG+D6ZOMbQHOzS5xff7znZEYSYqhexH0/a4zwhK3Ks9rgpRfdejvOTKL8uiaQJ/lW34uy2yjv8rCMsh0+gF3VDAUwh5muqbdoPFBlBGle/CV/e24gVt41vyWIZmAqe8KeEw35fTaIOBZSkBhBUTuKdIb2NwYDn3vnqT08X/8pI5/+n5+EsUg6C6J+4az6b2NTeo4WKkRZ/0FGvBGbofNrVvqi9g3Q7yTdgn2tXT4dAVYy5ypKW0YC4ZBrNkpR/P5cbCBzBgGYyyoyzmqEK4BXRBL74ehdFkxV/yVh4nSRg+hYRGjnYmWSBsdrP8I/2gfzNjtEaAA3tSoGFCgc4vab65eihaJIooNwXC5AKTgWsOaB8HVd0gKrlD17EcdZFZdxAjCyK1uhjmP6Nf9HBszetLXFOn8hnWc94CgynBoAdWTZ+ClJPJES6g27bgxVPDqliTjDyyuXYzF6ShcDE9SF+0zQNXbM2xpckYeFanA1Ak7RaeEvwOMASbSGYilLDHb4HrcikRH83znZbN8Q9LNQ8=
