//

a {
  text-decoration: none;
  color: #009688
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300
}

.section {
  padding: 40px 20px;
}

.section-primary-color {
  background-color: #009688;
  color: white;

  a {
    color: white;
  }
}

.primary-button {
  background-color: #009688;
  color: white;
}

.primary-button-white {
  background-color: white;
  color: #009688;
}

.section-title {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.horizontal {
  @apply --layout-horizontal;
  @apply --layout-wrap;
}

.vertical {
  @apply --layout-vertical;
}

.flex {
  @apply --layout-flex;
}

.flex-2 {
  @apply --layout-flex-2;
}

.center {
  text-align: center;
}

@media (min-width: 769px) {
  .section {
    margin: 0 auto;
    padding: 60px 16px;
    max-width: 896px;
  }
}

@media (min-width: 1400px) {
  .section {
    max-width: 1280px;
  }
}
