<div id="header">
	<h1>Schedule</h1>
</div>
<div id="view">
	<div class="content color">
		<div class="wrapper">
			<div class="columns">
				<div class="col-10 offset-1">
					<p>Here is the schedule for GDG DevFest Philippines 2016 on October 2, 2016. The schedule may change without notice.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="wrapper padding">
			<div class="columns schedule">
			</div>
		</div>
	</div>
	<div class="content color">
		<div class="wrapper">
			<div class="columns">
				<div class="col-10 offset-1">
					<p>In addition to these talks, we have also prepared additional parallel activities that you can join!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="wrapper padding">
			<div class="columns schedule parallel">
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			App.Schedule.render();
		})
	</script>
</div>