.footer {

    background: #4688f4;
    color: rgba(255, 255, 255, 0.8);
    @apply --layout-horizontal;
    @apply --layout-wrap;
    @apply --layout-center;

    @media only screen and (max-width: 500px) {
      display: block;
      padding: 36px;
    }

    > gdg-logo {
      padding: 36px;
    }

    > .footer-links {
      @apply --layout-flex;

      @media only screen and (max-width: 500px) {
        display: block;
      }

      > a {
        color: inherit;
        padding-right: 36px;
        text-decoration: none;

        @media only screen and (max-width: 500px) {
          padding: 10px;
          padding-left: 0px;
          display: block;
        }
      }
    }
  }

  // .footer {
  //   background: #303C42;
  //   color: rgba(255,255,255,0.8);


  //   a {
  //     color: inherit;
  //     text-decoration: none;
  //   }

  //   > .top-mini {
  //     @apply --layout-horizontal;
  //     height: 8px;

  //     > .flex {
  //       @apply --layout-flex;
  //       height: 8px;
  //     }

  //     > .color-mini {
  //       height: 8px;
  //       width: 60px;
  //     }

  //     > .blue-mini {
  //       background-color: #4285F4;
  //     }

  //     > .red-mini {
  //       background-color: #DB4437;
  //     }

  //     > .yellow-mini {
  //       background-color: #FFC107;
  //     }

  //     > .green-mini {
  //       background-color: #0F9D58;
  //     }
  //   }

  //   > .footer-columns {
  //     padding-top: 20px;
  //     @apply --layout-horizontal;
  //     @apply --layout-wrap;
  //     padding-left: 50px;
  //     padding-right: 50px;
  //     padding-bottom: 20px;

  //     @media only screen and (max-width: 500px) {
  //       padding-left: 20px;
  //       padding-right: 20px;
  //     }

  //     > .footer-column {
  //       @apply --layout-flex;
  //       min-width: 200px;
  //       // margin-left: 20px;
  //       // margin-right: 20px;

  //       > .footer-link-list {
  //         list-style-type: none;
  //         padding: 0;

  //         > .footer-link-item {
  //           padding-bottom: 5px;
  //         }
  //       }
  //     }

  //   }

  //   > .footer-bottom {
  //     background: #37424B;
  //     padding: 20px;
  //     padding-left: 50px;

  //   }
  // }
