<div id="header">
	<h1>Code Blaze Hackathon</h1>
</div>
<div id="view">
	<div class="content color">
		<div class="wrapper">
			<div class="columns">
				<div class="col-10 offset-1">
					<p>During GDG DevFest Philippines 2016, there will be a hackathon parallel to the event. Below are the mechanics and the form to register</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="wrapper">
			<h1 class="center">Mechanics</h1>
			<ol style="line-height: 200%;">
				<li>Team must be composed of at most 3 members.</li>
				<li>Teams must completely fill out and submit the Application Form. Deadline of application is on <b>September 23, 2016</b>.</li>
				<li>Participants should be working professionals.</li>
				<li>To qualify, teams should submit existing or build a new application using Google Technologies to showcase their skills. For website, share the link of the app. For Mobile and IoT apps, share the video app demonstration link.</li>
				<li>We will announce the top 5 teams who will compete for the hackathon 1 week before DevFest. </li>
				<li>Team members will automatically secure their slot to attend DevFest. Wohoo!</li>
				<li>Hackathon theme will be announced on the day of the event.</li>
				<li>Hackathon mechanics will be emailed to the accepted teams.</li>
			</ol>
		</div>
	</div>
	<div class="content color">
		<div class="wrapper">
			<h1 class="center">Criteria for Judging</h1>
			<div class="columns">
				<div class="col-8 offset-2 t-col-10 t-offset-1 m-col-12 m-offset-0">
					<table width="100%" cellpadding="12px">
						<tr>
							<td>Functionality (App Completeness)</td>
							<td width="1px"><b>30%</b></td>
						</tr>
						<tr>
							<td>Creativity (App Uniqueness)</td>
							<td><b>20%</b></td>
						</tr>
						<tr>
							<td>Usability (UI/UX)</td>
							<td><b>20%</b></td>
						</tr>
						<tr>
							<td>Impact (Overall impact of app to society/ target users)</td>
							<td><b>10%</b></td>
						</tr>
						<tr>
							<td>Presentation</td>
							<td><b>10%</b></td>
						</tr>
						<tr>
							<td style="border-top: 1px solid rgba(255,255,255,.5)"></td>
							<td style="border-top: 1px solid rgba(255,255,255,.5)"><b>100%</b></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="wrapper">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeCoJlaRMlS8PTQpH4c-ej-hoIfKouQtZaaTmPvIWuwxXHTPg/viewform?embedded=true" width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			Input.ready();
		})
	</script>
</div>