<div id="header">
	<h1>Highlights</h1>
</div>
<div id="view">
	<div class="content color">
		<div class="wrapper">
			<div class="columns">
				<div class="col-10 offset-1">
					<p>Watch the highlights of GDG DevFest Philippines 2016 here!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="wrapper">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<iframe width="100%" height="500" src="https://www.youtube.com/embed/3vr2AOxS0Ck" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			Input.ready();
		})
	</script>
</div>