<div id="header">
	<img src="includes/images/logo.png"><br>
	<span>October 2, 2016</span>
	<p>The biggest Google tech conference in the Philippines. All about Android, Web and Cloud</p>
	<a href="https://www.youtube.com/watch?v=p4ovFDLE9qk" target="_blank"><i class="material-icons">play_circle_filled</i>See what happened in 2015</a><br><br><br>
	<a onclick="App.loadController('register')" href="#register" class="raised_button">Register</a>
</div>
<div id="view">
	<!-- <div class="content color">
		<div class="wrapper">
			<div class="columns center">
				<div class="col-4 m-col-12">
					<span class="bignum">700</span>
					Attendees
				</div>
				<div class="col-4 m-col-12">
					<span class="bignum">?</span>
					Sessions
				</div>
				<div class="col-4 m-col-12">
					<span class="bignum">?</span>
					Parallel tracks
				</div>
			</div>
			<div class="columns center">
				<div class="col-10 offset-1"><br>
					<p>GDG DevFest Philippines 2016 - Bringing you the latest Google technologies with the world experts, hands-on activities that will challenge your skills, and fun and exciting games!</p>
				</div>
			</div>
		</div>	
	</div> -->
	<div class="content">
		<div class="wrapper">
			<h1 class="center">What is GDG DevFest?</h1>
			<div class="columns">
				<div class="col-3 offset-2 t-col-4 t-offset-4 m-col-8 m-offset-2">
					<img src="includes/images/map.png" width="100%">
				</div>
				<div class="col-4 offset-1 t-col-8 t-offset-2 m-col-12 m-offset-0">
					<div class="wrapper">
						<p>GDG DevFests are large, community-run events that can offer speaker sessions across multiple product areas, all-day hack-a-thons, code labs, and more. In 2016, the official DevFest Season runs from September 01st through November 30th.</p>
						<p>GDG DevFest provides the opportunity for developers to learn about Google technologies and other developer products. There are hands-on sessions especially on new technologies.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="columns">
			<div class="col-6 m-col-12">
				<a target="_blank" href="https://www.facebook.com/gdgphilippines/photos/?tab=album&album_id=708476559284278" style="background-image: url(includes/images/p1.jpg)" class="photo">
					<span>Click here to view more photos <i class="material-icons">launch</i></span>
				</a>
			</div>
			<div class="col-6 m-col-12">
				<a target="_blank" href="https://www.facebook.com/gdgphilippines/photos/?tab=album&album_id=708476559284278" style="background-image: url(includes/images/p2.jpg)" class="photo">
					<span>Click here to view more photos <i class="material-icons">launch</i></span>
				</a>
			</div>
		</div>
	</div>
	<div class="content speakers">
		<div class="wrapper">
			<h1 class="center">Speakers & Mentors</h1>
			<div class="columns center" id="speakerRender">
			</div>
			<div class="columns center">
				<div class="col-12">
					<a onclick="App.loadController('speakers')" href="#speakers" class="raised_button">View All</a>
				</div>
			</div>
		</div>
	</div>
	<div class="content red">
		<div id="map">
			
		</div>
		<div class="wrapper">
			<div class="columns">
				<div class="col-6 t-col-8 m-col-12" style="padding: 24px;">
					<div class="card">
						<img src="includes/images/venue.jpg" width="100%">
						<div class="wrapper">
							<div class="table middle padding">
								<div class="row">
									<div class="cell fit"><i class="material-icons">place</i></div>
									<div class="cell">Samsung Hall, SM Aura, Taguig</div>
								</div>
								<a target="_blank" href="https://www.google.com.ph/maps/dir//SM+Aura+Premier,+McKinley+Pkwy,+Taguig,+1634+Kalakhang+Maynila/@14.54679,121.0418699,16z/data=!4m16!1m7!3m6!1s0x3397c8ed01089ddb:0x879f21e647658cbf!2sSM+Aura+Premier!3b1!8m2!3d14.546044!4d121.05414!4m7!1m0!1m5!1m1!1s0x3397c8ed01089ddb:0x879f21e647658cbf!2m2!1d121.05414!2d14.546044?hl=en" class="row">
									<div class="cell"><i class="material-icons">exit_to_app</i></div>
									<div class="cell">
										Get directions
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content color">
		<div class="wrapper">
			<h1 class="center">2015</h1>
			<div class="columns">
				<div class="col-6 t-col-12">
					<div class="wrapper">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/p4ovFDLE9qk" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-6 t-col-12">
					<div class="wrapper">
						<p>GDG DevFest Philippines 2015 was held at PLDT Innolab, Mandulayong City on October 16-17, 2015.<br><br>On the first day which was focused on Android & VR, there were hands-on workshops on Android 6.0 Marshmallow, Android Basics, Firebase, Material Design, and Google Cardboard.<br><br>The second day was focused on Web and a bit of Gemma Kit. Participants joined hands-on workshops on Polymer, Firebase, Material Design Lite, HTML5 Game Development.</p>
						<a href="https://www.youtube.com/watch?v=xGdoST7IsQI&list=PLwmhCrOF65MEqyPnbPzgDioU1HFS6iZQ4" target="_blank" class="raised_button white">View Playlist</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content sponsors">
		<div class="wrapper">
			<center>
			<h1>Sponsors</h1>
			<h4>Platinum Year Long Sponsor</h4>
			<a href="https://www.accenture.com/ph-en" target="_blank"><img src="includes/images/sponsors/accenture.png"></a>
			<h4>Minor Year Long Sponsor</h4>
			<a href="www.cyscorpions.com/" target="_blank"><img src="includes/images/sponsors/klab.png"></a>
			<h4>Made Possible By</h4>
			<img src="includes/images/sponsors/sm-aura.png" width="130px">
			<img src="includes/images/sponsors/samsung-hall.png" width="200px">
			<h4>Co-Presented By</h4>
			<a href="www.nokia.com/" target="_blank"><img src="includes/images/sponsors/nokia.png" width="125px"></a>
			<a href="www.playngo.com/" target="_blank"><img src="includes/images/sponsors/play-n-go.png" width="125px"></a>
			<h4>Official Media Partners</h4>
			<a href="http://www.inquirer.net/" target="_blank"><img src="includes/images/sponsors/inquirernet.png" width="170px"></a><br>
			<a href="http://www.philstar.com/" target="_blank"><img src="includes/images/sponsors/philstar.png" width="150px"></a>

			<h4>Powered By</h4>
			<img src="includes/images/sponsors/gdgph.png" width="250px"><br>
			<img src="includes/images/sponsors/google.png" width="150px">

			<br><br>
			<a href="http://www.gdgph.org/#/be-a-sponsor" target="_blank" class="raised_button">Become a Sponsor</a>
			</center>
		</div>
	</div>
	<script>
		$.each(App.getRandom(Data.speakerInfo, (Data.speakerInfo.length < 4) ? Data.speakerInfo.length : 4), function(index, speaker) {
			$cw = "col-3 t-col-6 m-col-12";
			if(Data.speakerInfo.length == 1)
				$cw = "col-12";
			else if(Data.speakerInfo.length == 2) 
				$cw = "col-6 m-col-12";
			else if(Data.speakerInfo.length == 3) {
				$cw = "col-6 m-col-12";
				if(index == 2) 
					$cw = "col-12";
			}
			$("#speakerRender").append('<div class="'+$cw+'">'+
					'<img src="includes/images/speakers/'+speaker.img+'.jpg">'+
					'<span>'+speaker.name+'</span>'+
					'<small>'+speaker.company+'</small>'+
				'</div>');
		})
		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById("map"), {
				center: {lat: 14.54679, lng: 121.0418699},
				zoom: 15,
				panControl:true,
				zoomControl:true,
				mapTypeControl:true,
				scaleControl:true,
				streetViewControl:true,
				overviewMapControl:true,
				rotateControl:true,
				scrollwheel: false,
				navigationControl: false,
				draggable: true,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			});
			var marker = new google.maps.Marker({
				position: {lat: 14.5460396, lng: 121.0541461},
				animation: google.maps.Animation.BOUNCE
			})
			marker.setMap(map);
		}
		App.Survey.popup();
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfJwp5z6XbU6tYFHKY-J55Vc89jJCBJ2A&callback=initMap"
    async defer></script>
</div>