<div id="header">
	<h1>Register</h1>
</div>
<div id="view">
	<div class="content color">
		<div class="wrapper">
			<div class="columns">
				<div class="col-10 offset-1">
					<p>GDG DevFest Philippines 2016 is FREE; but slots are limited, so please sign up early! Filling up this form does not automatically register you to the event. We will be sending emails to confirmed participants at least a week before the event. Only registered and confirmed participants can be accommodated.<br><br>
					By registering, you agree to the <b><a href="http://www.gdgph.org/#/code-of-conduct" target="_blank">code of conduct</a></b>.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content red white-text">
		<div class="wrapper">
			<p class="center">
				<i class="material-icons" style="font-size: 86px">laptop</i>
				<br><br>
				<b>STRICTLY BRING YOUR OWN LAPTOP</b>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="wrapper">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmtfLy8MsUJQcc4Lj1mxwQEVJ1l0nF3WJ1_1qERPZGpHt2SQ/viewform?embedded=true" width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			Input.ready();
		})
	</script>
</div>