<div id="header">
	<h1>Speakers</h1>
</div>
<div id="view">
	<div class="content color">
		<div class="wrapper">
			<div class="columns">
				<div class="col-10 offset-1">
					<p>Here are all the awesome speakers! Click the picture to check their profile.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content speakers1">
		<div class="wrapper">
			<div class="columns">
			</div>
		</div>
	</div>
	<script>
		$.each(Data.speakerInfo, function(index, speaker) {
			$(".speakers1 .columns").append('<div class="col-3 t-col-6 m-col-12">'+
				'<div class="card no-transition">'+
					'<a onclick="App.loadSpeaker('+index+')"><div class="cover no-transition" style="background-image: url(includes/images/speakers/'+speaker.img+'.jpg);	"><div class="black-filter"></div><div class="name">'+speaker.name+
					'</div></div></a>'+
					'<p>'+speaker.title+'</p>'+
					'<p>'+
						((speaker.sm.gp != "") ? '<a href="'+speaker.sm.gp+'" target="_blank" class="sm"><img src="includes/images/gp.png"></a>' : '') +
						((speaker.sm.fb != "") ? '<a href="'+speaker.sm.fb+'" target="_blank" class="sm"><img src="includes/images/fb.png"></a>' : '') +
						((speaker.sm.tw != "") ? '<a href="'+speaker.sm.tw+'" target="_blank" class="sm"><img src="includes/images/tw.png"></a>' : '') +
						((speaker.sm.li != "") ? '<a href="'+speaker.sm.li+'" target="_blank" class="sm"><img src="includes/images/li.png"></a>' : '') +
						((speaker.sm.wb != "") ? '<a href="'+speaker.sm.wb+'" target="_blank" class="sm"><img src="includes/images/wb.png"></a>' : '') +
					'</p>'+
				'</div></div>');
		})
		function speakersResponsive() {
			$(".speakers1 .cover").height($(".speakers1 .cover").width() + "px");
			if($(window).width() > 425) {
				var maxHeight = 0;
				$(".speakers1 .columns .col-3 .card:not(.selected)").css("height", "auto");
				$(".speakers1 .columns .col-3").each(function() {
					if($(this).find(".card:not(.selected)").outerHeight() > maxHeight) maxHeight = $(this).find(".card").outerHeight();
				})
				$(".speakers1 .columns .col-3 .card:not(.selected)").height(maxHeight+"px")
			} else {
				$(".speakers1 .columns .col-3 .card:not(.selected)").css("height", "auto");
			}
		}
		speakersResponsive();
		$(window).resize(function() {
			speakersResponsive();
		})
	</script>
</div>