<h4>Are you a Web Developer?</h4>
<p>Answer this quick survey if you are a web developer.</p>
<table width="100%">
	<tr>
		<td><a onclick="App.Survey.dontask()" class="flat_button gray-text" style="margin: 0; padding: 0">No, thanks.</a></td>
		<td align="right">
			<a onclick="App.DialogBox.hide()" class="flat_button">Maybe, later.</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSfY9BVnwOUQqgt60poAqwHIkT9HpzNMXvRxoOatE70kv89VOQ/viewform" target="_blank" onclick="App.Survey.dontask()" class="raised_button">Okay</a>
		</td>
	</tr>
</table>