@import '../../styles/components/host.scss';
@import '../../styles/components/typography.scss';
@import '../../styles/components/section.scss';

.banner-container {
  @apply --layout-horizontal;
  @apply --layout-wrap;
  text-align: left;

  .banner-part {
    @apply --layout-flex;
    min-width: 300px;

    @media only screen and (max-width: 500px) {
      min-width: 200px;
    }
  }

  .banner-image {
    min-height: 400px;
    background: url('/images/speakers-compressed.jpg') center/cover no-repeat;
  }

  .banner {
    padding: 36px;

    @media only screen and (max-width: 500px) {
      padding: 20px;
    }
  }
}

.perk {
  padding: 36px;
  min-width: 500px;
  @apply --layout-flex;

  @media only screen and (max-width: 800px) {
    min-width: 250px;
  }

  @media only screen and (max-width: 500px) {
    padding: 20px;
  }
}

.session {
  padding: 36px;
  min-width: 250px;
  @apply --layout-flex;

  @media only screen and (max-width: 500px) {
    padding: 20px;
  }
}

.topic-card {
  padding: 36px;
  color: #666;
  background-color: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  @apply --layout-flex;
  margin: 16px;

  @media only screen and (max-width: 800px) {
    min-width: 300px;
  }

  @media only screen and (max-width: 500px) {
    padding: 20px;
    min-width: 200px;
  }

  p {
    line-height: 150%;
  }

  iron-icon {
    color: #2196f3;
  }
}

.important-date {
  @apply --layout-horizontal;

  .text {
    padding: 36px;
    text-align: right;
    padding-right: 20px;
    @apply --layout-flex;

    @media only screen and (max-width: 500px) {
      padding: 20px;
      padding-right: 10px;
    }
  }

  .date {
    padding: 36px;
    text-align: left;
    padding-left: 20px;
    @apply --layout-flex;

    @media only screen and (max-width: 500px) {
      padding: 20px;
      padding-left: 10px;
    }
  }
}
