// @import "./core/modules/default-theme/partials/*";
@import './partials/_base.scss';
@import './components/button.scss';

body {
  margin: 0;
  font-size: $base-font-size;
  font-family: 'Roboto', 'Arial', sans-serif;
}
