@import '../../styles/components/host.scss';
@import '../../styles/components/typography.scss';
@import '../../styles/components/section.scss';

.qr-section {
  text-align: center;
  position: relative;
  max-width: 600px;
  padding: 20px;
  margin: 60px auto 60px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);

  @media screen and (max-width: 720px) {
    margin: 20px 20px;
  }
}

.snap-area {
  padding: 0 20px 40px 20px;
}

.scan-section {
  width: 60%;
  height: 20%;
  position: absolute;
  top: 25%;
  left: 20%;
  border: 1px red solid;
  z-index: 100;
}