<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../fonts/devfest-fonts.html">

<dom-module id="gdg-logo">
  <template>
    <style>
    </style>

    <a href="/" class="gdg-logo-anchor">
      <img src="/images/gdg-icon.png"> GDG Philippines
    </a>
  </template>
  <script>
    (() => {
      class GDGLogo extends Polymer.Element {
        static get is () { return 'gdg-logo' }

      }

      window.customElements.define(GDGLogo.is, GDGLogo)
    })()
  </script>
</dom-module>
