.button {
  background: #2e9be6;
	color: white;
	border: 3px solid #2e9be6;
	padding: 24px;
	font-size: 24px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}
