.button {
  background: #2e9be6;
	color: white;
	border: 3px solid #2e9be6;
	border-radius: 4px;
	padding: 12px;
	font-size: 1em;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}

.button__big {
	padding: 24px;
	font-size: 1.5em;
}
