body {
  margin: 0px;
  font-family: 'Roboto';
  background: #efefef; }

.container {
  width: 100%;
  overflow: hidden; }

.header {
  width: 100%;
  height: 500px;
  background: #009688;
  position: relative;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 9;
  overflow: hidden; }
  .header h1 {
    color: white;
    padding-top: 250px; }
  .header .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/cover1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; }
  .header .black-filter {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
  .header .wrapper {
    min-width: 320px;
    max-width: 960px;
    margin: 0px auto;
    position: relative;
    padding: 0px 24px;
    padding-top: 110px;
    color: white;
    font-weight: 300;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 500px; }
    .header .wrapper span {
      text-transform: uppercase;
      font-size: 18px; }
    .header .wrapper p {
      font-size: 22px; }
    .header .wrapper i {
      vertical-align: middle;
      margin-right: 8px; }
  .header img {
    width: 270px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
  color: #333; }

body > .loading {
  position: absolute;
  left: 50%;
  margin-left: -26px;
  top: -80px;
  width: 52px;
  height: 52px;
  background: white;
  border-radius: 100%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 100; }

.loading .circular {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  width: 36px;
  height: 36px;
  margin: 8px; }
.loading .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }
@-webkit-keyframes color {
  100% {
    stroke: #d62d20; }
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80% {
    stroke: #ffa700; }
  90% {
    stroke: #ffa700; } }
@keyframes color {
  100% {
    stroke: #d62d20; }
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80% {
    stroke: #ffa700; }
  90% {
    stroke: #ffa700; } }
a.raised_button {
  background: #bbb;
  display: inline-block;
  padding: 12px 12px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: white;
  border-radius: 3px; }
  a.raised_button.white {
    background: white;
    color: #009688; }
  a.raised_button[href], a.raised_button[id], a.raised_button[onclick] {
    background: #009688; }

a.flat_button {
  background: transparent;
  display: inline-block;
  padding: 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #bbb; }
  a.flat_button[id], a.flat_button[href], a.flat_button[onclick] {
    color: #009688; }

.black-trans {
  background: rgba(255, 255, 255, 0.7);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 49;
  cursor: pointer; }

.slider {
  position: fixed;
  top: 0px;
  left: -310px;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  background: white;
  z-index: 50;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
  .slider .cover {
    background: #009688;
    width: 100%;
    position: relative;
    padding: 18px; }
    .slider .cover span {
      color: white;
      font-size: 13px; }
    .slider .cover > img {
      vertical-align: middle; }
  .slider a.back {
    vertical-align: middle;
    color: white;
    margin-right: 12px; }
  .slider ul.nav {
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .slider ul.nav li a {
      color: rgba(0, 0, 0, 0.6);
      display: block;
      width: 100%;
      padding: 14px 18px;
      font-size: 14px; }
      .slider ul.nav li a i {
        vertical-align: middle;
        margin-right: 12px; }
      .slider ul.nav li a:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.4); }
      .slider ul.nav li a.selected {
        background: #FFBB12;
        color: white; }
  .slider .user {
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: none; }
    .slider .user small {
      display: block;
      font-weight: 400; }
    .slider .user img {
      width: 48px;
      margin-bottom: 12px;
      display: block;
      border-radius: 100%; }

.slider::-webkit-scrollbar {
  width: 0px; }

.action-bar {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  -webkit-transition: 0s all ease-in-out;
  -moz-transition: 0s all ease-in-out;
  -ms-transition: 0s all ease-in-out;
  -o-transition: 0s all ease-in-out;
  transition: 0s all ease-in-out; }
  .action-bar.color {
    background: #009688;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }
  .action-bar img.logo {
    height: 40px;
    margin: 10px;
    opacity: 0; }
  .action-bar a.menu {
    float: left;
    width: 48px;
    height: 48px;
    margin: 6px;
    display: table;
    cursor: pointer; }
    .action-bar a.menu i {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: white; }
  .action-bar ul.nav {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 24px; }
    .action-bar ul.nav li {
      float: left;
      position: relative; }
      .action-bar ul.nav li > a {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        display: table-cell;
        padding: 0px 16px;
        height: 60px;
        vertical-align: middle;
        border-bottom: 3px solid transparent; }
        .action-bar ul.nav li > a:not(.user):hover {
          border-bottom: 2px solid white; }
        .action-bar ul.nav li > a:not(.user).selected {
          border-bottom: 2px solid white; }
  .action-bar a.user {
    position: relative; }
    .action-bar a.user img {
      width: 36px;
      vertical-align: middle;
      border-radius: 100%; }
  .action-bar .more-options {
    display: none;
    opacity: 0;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #333; }
    .action-bar .more-options .wrapper {
      width: 260px;
      margin: 18px auto;
      overflow: hidden; }
      .action-bar .more-options .wrapper span {
        font-size: 14px;
        display: block;
        width: 175px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 12px 0px; }
      .action-bar .more-options .wrapper a {
        padding: 0px; }
        .action-bar .more-options .wrapper a:hover {
          text-decoration: underline; }
      .action-bar .more-options .wrapper img {
        width: 64px;
        margin-right: 18px;
        border-radius: 100%;
        float: left; }

.view {
  position: relative;
  z-index: 8;
  top: 200px;
  opacity: 0; }

.content {
  width: 100%;
  position: relative;
  color: #666;
  padding: 48px 0px;
  font-weight: 300; }
  .content.dense {
    padding: 12px 0px; }
  .content.nopad {
    padding: 0px; }
  .content.color {
    background: #009688;
    color: white; }
  .content.color-2 {
    background: #F19C00;
    color: white; }
  .content h1 {
    color: inherit; }
  .content > .wrapper {
    min-width: 320px;
    max-width: 960px;
    margin: 0px auto; }
  .content .columns > .wrapper {
    padding: 12px; }
  .content p {
    line-height: 150%; }
  .content.speakers [class^="col-"] {
    padding: 18px 12px; }
  .content.speakers img {
    width: 150px;
    border-radius: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); }
  .content.speakers span {
    display: block;
    font-weight: 400;
    margin-top: 8px; }
  .content.speakers1 [class^="col-"] {
    padding: 12px 12px; }
  .content.speakers1 .cover {
    width: 100%;
    background-color: #e7e7e7;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 12px;
    overflow: hidden; }
    .content.speakers1 .cover .black-filter {
      position: absolute;
      width: 200%;
      height: 50px;
      left: -150px;
      bottom: -100px;
      left: 0px;
      box-shadow: 0px -50px 100px black; }
    .content.speakers1 .cover .name {
      position: absolute;
      bottom: 12px;
      left: 12px;
      right: 12px;
      color: white;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
      font-size: 18px;
      text-align: left; }
  .content.speakers1 p {
    padding: 0px 12px;
    font-size: 13px; }
    .content.speakers1 p:last-child {
      padding-top: 12px;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .content.speakers1 p a.sm img {
      width: 20px; }
    .content.speakers1 p a.sm:not(:first-child) {
      margin-left: 12px; }
  .content.footer {
    background: #efefef;
    font-size: 14px;
    z-index: 9;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .content.footer .wrapper {
      padding: 0px 24px; }

.speaker-container {
  position: fixed;
  z-index: 50;
  max-height: 80%;
  overflow-y: scroll;
  bottom: -80%;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  background: white;
  padding-bottom: 48px;
  border-radius: 2px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2); }
  .speaker-container .cover {
    width: 100%;
    height: 320px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #efefef; }
    .speaker-container .cover .name {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      padding: 14px;
      font-weight: 300;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
      font-size: 28px; }
  .speaker-container .wrapper {
    padding: 18px;
    color: #666; }
    .speaker-container .wrapper .sm {
      padding-top: 12px; }
    .speaker-container .wrapper p {
      font-size: 14px;
      line-height: 150%; }
    .speaker-container .wrapper img {
      width: 24px; }
    .speaker-container .wrapper a:not(:first-child) {
      margin-left: 12px; }

.speaker-container::-webkit-scrollbar {
  width: 0px; }

.chip {
  background: #e7e7e7;
  color: rgba(0, 0, 0, 0.54);
  min-height: 32px;
  font-weight: 400;
  display: inline-table;
  margin-bottom: 12px;
  margin-right: 8px;
  font-size: 12px;
  padding: 0px 12px;
  color: #333;
  border-radius: 32px; }
  .chip[class*="darken-"] {
    color: white; }
  .chip span {
    display: table-cell;
    vertical-align: middle; }

span.bignum {
  font-size: 48px;
  display: block;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 768px) {
  span.bignum {
    margin-top: 36px; }

  .footer [class^="col-"] {
    padding: 16px 0px; } }
.photo {
  display: table;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .photo span {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .photo span i {
      vertical-align: middle; }
  .photo:hover span {
    opacity: 1; }

@media screen and (max-width: 768px) {
  .photo {
    height: 300px; } }
@media screen and (max-width: 425px) {
  .photo {
    height: 200px; } }
.sponsors img {
  width: 150px; }

.rank-list {
  margin-top: 0px; }
  .rank-list .cell {
    padding: 12px; }
    .rank-list .cell:first-child {
      padding-left: 24px; }
  .rank-list img {
    width: 36px;
    border-radius: 100%; }
  .rank-list.first-place {
    background: #FFC107;
    font-size: 24px;
    font-weight: bold;
    color: white; }
    .rank-list.first-place img {
      width: 48px; }
  .rank-list.second-place {
    background: #E0E0E0; }
  .rank-list.third-place {
    background: #795548;
    color: white; }
  .rank-list.disabled {
    opacity: .4; }
  .rank-list span.chapter-name {
    display: block;
    font-size: 12px;
    font-style: italic; }

@media screen and (max-width: 425px) {
  .rank-list {
    font-size: 16px !important;
    font-weight: normal !important; }
    .rank-list img {
      width: 36px !important; } }
.codelab-list {
  font-size: 14px; }
  .codelab-list img {
    width: 48px;
    margin: 18px; }
  .codelab-list span:not(.ink) {
    display: block;
    margin: 18px 0px; }
  .codelab-list i {
    margin: 18px;
    color: #009688; }
  .codelab-list.done i:after {
    content: "star";
    color: #FFEB3B; }
  .codelab-list.fail i:after {
    content: "sentiment_dissatisfied";
    color: #F44336; }
  .codelab-list.code i:after {
    content: "code"; }
  .codelab-list.quiz {
    background-color: #ef5350;
    color: white; }
    .codelab-list.quiz i:after {
      color: white;
      content: "assessment"; }

.dialog-box {
  -webkit-transition: 0s top, 0s left;
  -moz-transition: 0s top, 0s left;
  -ms-transition: 0s top, 0s left;
  -o-transition: 0s top, 0s left;
  transition: 0s top, 0s left;
  position: fixed;
  width: 500px;
  left: 0px;
  max-height: 80%;
  background: white;
  z-index: 500;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
  color: #666;
  line-height: 150%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
  .dialog-box .blur {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; }
    .dialog-box .blur .table {
      width: 100%;
      height: 100%; }
    .dialog-box .blur .loading {
      vertical-align: middle;
      text-align: center;
      display: table-cell; }
  .dialog-box i.material-icons {
    color: #bbb; }
  .dialog-box .wrapper {
    padding: 24px; }
    .dialog-box .wrapper img {
      display: block;
      margin-bottom: 24px;
      width: 64px; }
    .dialog-box .wrapper span.title {
      display: block;
      margin-bottom: 12px; }
    .dialog-box .wrapper span.title, .dialog-box .wrapper span.countdown {
      font-weight: bold; }
    .dialog-box .wrapper span.message {
      display: block;
      font-size: 12px; }

span.countdown {
  padding: 0px 12px; }

.dialog-box::-webkit-scrollbar {
  width: 0; }

.ripple {
  overflow: hidden;
  position: relative; }

.ink {
  display: block;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 97;
  background: rgba(0, 0, 0, 0.15); }
  .ink.animate {
    animation: ripple 0.65s linear; }

.signin {
  display: none; }

.quiz i {
  color: white; }
.quiz .question-number {
  color: white;
  background: #bbb;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 100%; }
.quiz hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05); }
.quiz .your-answer, .quiz .correct-answer {
  display: block; }

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5); } }
.card h4 {
  padding: 24px;
  font-weight: bold;
  color: #009688;
  margin: 0; }
.card .wrapper {
  padding: 18px;
  line-height: 125%; }

/*# sourceMappingURL=style.css.map */
