@import '../../styles/components/host.scss';
@import '../../styles/components/typography.scss';

devfest-banner {
  text-align: center;
  h1 {
    font-family: 'Product Sans';
    opacity: 1;
    margin-bottom: 0px;

    @media only screen and (max-width: 500px) {
      font-size: 1.5em
    }
  }

  p {
    margin-top: 0px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.about-container {
  @apply --layout-horizontal;
  @apply --layout-wrap;

  .about-part {
    @apply --layout-flex;
    min-width: 300px;

    @media only screen and (max-width: 500px) {
      min-width: 200px;
    }
  }

  .about-image {
    min-height: 400px;
    background: url('/images/about-image-compressed-1.jpg') center/cover no-repeat;
  }

  .about {
    padding: 36px;

    @media only screen and (max-width: 500px) {
      padding: 20px;
    }
  }
}

.expect-container {
  background: #2196f3;
  color: #fff;
  padding: 36px;

  @media only screen and (max-width: 500px) {
    padding: 20px;
  }

  h1 {
    color: inherit
  }

  h2 {
    color: inherit
  }

  .expect-horizontal {
    @apply --layout-horizontal;
    @apply --layout-wrap;

    .expect {
      @apply --layout-flex;
      min-width: 200px;
      text-align: center;
      padding: 36px;

      @media only screen and (max-width: 500px) {
        padding: 20px;
      }

      iron-icon {
        --iron-icon-height: 64px;
        --iron-icon-width: 64px;
      }

      h2 {
        font-size: 1.17em;
      }

      p {
        max-width: 350px;
        margin: 0 auto;
      }

    }
  }
}

.sponsors {
  padding: 36px;
}