<div id="view">
	<div class="content">
			<div class="columns">
				<h1 class="col-12" style="margin-top: 0px; margin-bottom: 0">Chapter Leaderboard</h1>
				<div class="col-8 offset-2 t-col-10 t-offset-1 m-col-12 m-offset-0" id="leaderboardMsg">
					<div class="card">
						<div class="wrapper">
							There are no users with points.
						</div>
					</div>
				</div>
				<div class="col-6 offset-3 t-col-12 t-offset-0 ranking">
				</div>
			</div>
	</div>
	<script>
		$(document).ready(function() {
			App.Chapter.load();
			Input.ready();
		})
	</script>
</div>