<center>
<img src="">
<span class="title"></span>
<div class="table middle left padding">
	<div class="cell fit"><i class="material-icons">info</i></div>
	<div class="cell"><p></p></div>
</div>
<div class="quiz table left padding">
	<div class="row">
		<div class="cell fit">
			<span class="question-number"></span>
		</div>
		<div class="cell">
			<span class="question"></span>
			<hr>
			<div class="options">
				<span class="correct-answer"></span>
				<span class="your-answer"></span>
				<i class="material-icons"></i>
			</div>
		</div>
	</div>
</div>
<a id="restartCodelab" style="display: none;" class="raised_button ripple">Restart Codelab</a>
<span class="message" style="display: none">May second chance! You may restart the codelab but you will lose the points you earned. Although, you might earn more points</span>
</center>