<div class="wrapper">
	<h4>Hello!</h4>
	<p>Welcome to the devfest codelabs! Before we start, please select a chapter.</p>
	<select id="chapters">
		<option value="-">-</option>
		<option value="GDG Algiers">GDG Algiers</option>
		<option value="GDG Aarhus">GDG Aarhus</option>
		<option value="GDG AAUA">GDG AAUA</option>
		<option value="GDG Aba">GDG Aba</option>
		<option value="GDG ABC">GDG ABC</option>
		<option value="GDG Abeokuta">GDG Abeokuta</option>
		<option value="GDG Abidjan">GDG Abidjan</option>
		<option value="GDG Abomey-Calavi">GDG Abomey-Calavi</option>
		<option value="GDG Abuja">GDG Abuja</option>
		<option value="GDG Accra">GDG Accra</option>
		<option value="GDG Adana">GDG Adana</option>
		<option value="GDG Ado-Ekiti">GDG Ado-Ekiti</option>
		<option value="GDG Agencias">GDG Agencias</option>
		<option value="GDG Agitel">GDG Agitel</option>
		<option value="GDG Ahmedabad">GDG Ahmedabad</option>
		<option value="GDG Akure">GDG Akure</option>
		<option value="GDG Al-Zaytoonah University">GDG Al-Zaytoonah University</option>
		<option value="GDG Albacete">GDG Albacete</option>
		<option value="GDG Albuquerque">GDG Albuquerque</option>
		<option value="GDG Alexandria">GDG Alexandria</option>
		<option value="GDG Allahabad">GDG Allahabad</option>
		<option value="GDG Almaty">GDG Almaty</option>
		<option value="GDG Almeria">GDG Almeria</option>
		<option value="GDG Ames">GDG Ames</option>
		<option value="GDG Amity University">GDG Amity University</option>
		<option value="GDG Amman">GDG Amman</option>
		<option value="GDG Android Santiago">GDG Android Santiago</option>
		<option value="GDG Androititlan">GDG Androititlan</option>
		<option value="GDG Angular Mexico">GDG Angular Mexico</option>
		<option value="GDG Ankara">GDG Ankara</option>
		<option value="GDG Ann Arbor Android">GDG Ann Arbor Android</option>
		<option value="GDG Annaba">GDG Annaba</option>
		<option value="GDG Antofagasta">GDG Antofagasta</option>
		<option value="GDG Aracaju">GDG Aracaju</option>
		<option value="GDG Asturias">GDG Asturias</option>
		<option value="GDG Atlanta">GDG Atlanta</option>
		<option value="GDG Auckland">GDG Auckland</option>
		<option value="GDG Augsburg">GDG Augsburg</option>
		<option value="GDG Austin">GDG Austin</option>
		<option value="GDG Azores">GDG Azores</option>
		<option value="GDG Bacolod">GDG Bacolod</option>
		<option value="GDG Baguio">GDG Baguio</option>
		<option value="GDG Baltimore">GDG Baltimore</option>
		<option value="GDG Bamako">GDG Bamako</option>
		<option value="GDG Bambili">GDG Bambili</option>
		<option value="GDG Bamenda">GDG Bamenda</option>
		<option value="GDG Bandjoun">GDG Bandjoun</option>
		<option value="GDG Bangalore">GDG Bangalore</option>
		<option value="GDG Bangangté">GDG Bangangté</option>
		<option value="GDG Bangla">GDG Bangla</option>
		<option value="GDG Barcelona">GDG Barcelona</option>
		<option value="GDG Bari">GDG Bari</option>
		<option value="GDG Baroda">GDG Baroda</option>
		<option value="GDG Bassam">GDG Bassam</option>
		<option value="GDG Bauchi">GDG Bauchi</option>
		<option value="GDG Beer Sheva">GDG Beer Sheva</option>
		<option value="GDG Beijing">GDG Beijing</option>
		<option value="GDG Beira">GDG Beira</option>
		<option value="GDG Belo Horizonte">GDG Belo Horizonte</option>
		<option value="GDG Benin">GDG Benin</option>
		<option value="GDG Bergen">GDG Bergen</option>
		<option value="GDG Berkeley">GDG Berkeley</option>
		<option value="GDG Berlin">GDG Berlin</option>
		<option value="GDG Berlin Android">GDG Berlin Android</option>
		<option value="GDG Berlin Golang">GDG Berlin Golang</option>
		<option value="GDG Bhubaneswar">GDG Bhubaneswar</option>
		<option value="GDG Bingham University">GDG Bingham University</option>
		<option value="GDG Birgunj">GDG Birgunj</option>
		<option value="GDG Bishkek">GDG Bishkek</option>
		<option value="GDG BITS Pilani Dubai">GDG BITS Pilani Dubai</option>
		<option value="GDG Bizerte">GDG Bizerte</option>
		<option value="GDG Black Forest">GDG Black Forest</option>
		<option value="GDG Blida">GDG Blida</option>
		<option value="GDG BlrDroid">GDG BlrDroid</option>
		<option value="GDG Bodensee">GDG Bodensee</option>
		<option value="GDG Bogor">GDG Bogor</option>
		<option value="GDG Bogotá">GDG Bogotá</option>
		<option value="GDG Boise">GDG Boise</option>
		<option value="GDG Bologna">GDG Bologna</option>
		<option value="GDG Boston">GDG Boston</option>
		<option value="GDG Bouaké">GDG Bouaké</option>
		<option value="GDG Boulder">GDG Boulder</option>
		<option value="GDG Brasília">GDG Brasília</option>
		<option value="GDG Brazza">GDG Brazza</option>
		<option value="GDG Brescia">GDG Brescia</option>
		<option value="GDG Bronx">GDG Bronx</option>
		<option value="GDG Brunei">GDG Brunei</option>
		<option value="GDG Brussels">GDG Brussels</option>
		<option value="GDG Bucharest">GDG Bucharest</option>
		<option value="GDG Budapest">GDG Budapest</option>
		<option value="GDG Buea">GDG Buea</option>
		<option value="GDG Buenos Aires">GDG Buenos Aires</option>
		<option value="GDG Buffalo">GDG Buffalo</option>
		<option value="GDG BUK">GDG BUK</option>
		<option value="GDG Bukavu">GDG Bukavu</option>
		<option value="GDG Burgos">GDG Burgos</option>
		<option value="GDG Busan">GDG Busan</option>
		<option value="GDG Busitema">GDG Busitema</option>
		<option value="GDG BVP">GDG BVP</option>
		<option value="GDG Cabreúva">GDG Cabreúva</option>
		<option value="GDG Cáceres">GDG Cáceres</option>
		<option value="GDG Cagayan de Oro">GDG Cagayan de Oro</option>
		<option value="GDG Cairo">GDG Cairo</option>
		<option value="GDG Cali">GDG Cali</option>
		<option value="GDG Campania">GDG Campania</option>
		<option value="GDG Campina Grande">GDG Campina Grande</option>
		<option value="GDG Campinas">GDG Campinas</option>
		<option value="GDG Cape Town">GDG Cape Town</option>
		<option value="GDG Capital Region">GDG Capital Region</option>
		<option value="GDG Caracas">GDG Caracas</option>
		<option value="GDG Cascavel">GDG Cascavel</option>
		<option value="GDG Catania">GDG Catania</option>
		<option value="GDG Cebu">GDG Cebu</option>
		<option value="GDG Central Florida">GDG Central Florida</option>
		<option value="GDG Central Virginia">GDG Central Virginia</option>
		<option value="GDG České Budějovice">GDG České Budějovice</option>
		<option value="GDG Charleston">GDG Charleston</option>
		<option value="GDG Charlotte">GDG Charlotte</option>
		<option value="GDG Chengdu">GDG Chengdu</option>
		<option value="GDG Chennai">GDG Chennai</option>
		<option value="GDG Cherkassy">GDG Cherkassy</option>
		<option value="GDG Chicago">GDG Chicago</option>
		<option value="GDG Chicago West">GDG Chicago West</option>
		<option value="GDG Chiclayo">GDG Chiclayo</option>
		<option value="GDG Chlef">GDG Chlef</option>
		<option value="GDG Chongqing">GDG Chongqing</option>
		<option value="GDG Chugoku">GDG Chugoku</option>
		<option value="GDG Cincinnati">GDG Cincinnati</option>
		<option value="GDG Cloud Belgium">GDG Cloud Belgium</option>
		<option value="GDG Cloud MX">GDG Cloud MX</option>
		<option value="GDG Cloud Paris">GDG Cloud Paris</option>
		<option value="GDG Cluj-Napoca">GDG Cluj-Napoca</option>
		<option value="GDG Cochabamba">GDG Cochabamba</option>
		<option value="GDG Cochin">GDG Cochin</option>
		<option value="GDG Code d'Armor">GDG Code d'Armor</option>
		<option value="GDG Coimbatore">GDG Coimbatore</option>
		<option value="GDG Coimbra">GDG Coimbra</option>
		<option value="GDG Columbia">GDG Columbia</option>
		<option value="GDG Columbus">GDG Columbus</option>
		<option value="GDG Cosenza">GDG Cosenza</option>
		<option value="GDG Covenant University">GDG Covenant University</option>
		<option value="GDG Curitiba">GDG Curitiba</option>
		<option value="GDG Cusco">GDG Cusco</option>
		<option value="GDG ČVUT Prague">GDG ČVUT Prague</option>
		<option value="GDG DA-IICT Gandhinagar">GDG DA-IICT Gandhinagar</option>
		<option value="GDG Dallas">GDG Dallas</option>
		<option value="GDG Dar es Salaam">GDG Dar es Salaam</option>
		<option value="GDG Delta University">GDG Delta University</option>
		<option value="GDG Denver">GDG Denver</option>
		<option value="GDG Depok">GDG Depok</option>
		<option value="GDG Detroit">GDG Detroit</option>
		<option value="GDG Dhaka">GDG Dhaka</option>
		<option value="GDG Dili">GDG Dili</option>
		<option value="GDG Dnipropetrovsk">GDG Dnipropetrovsk</option>
		<option value="GDG Doha">GDG Doha</option>
		<option value="GDG Douala">GDG Douala</option>
		<option value="GDG Dublin">GDG Dublin</option>
		<option value="GDG Duque de Caxias">GDG Duque de Caxias</option>
		<option value="GDG Düsseldorf">GDG Düsseldorf</option>
		<option value="GDG Dutch Android User Group">GDG Dutch Android User Group</option>
		<option value="GDG Düzce">GDG Düzce</option>
		<option value="GDG Ebolowa">GDG Ebolowa</option>
		<option value="GDG Edirne">GDG Edirne</option>
		<option value="GDG Egerton">GDG Egerton</option>
		<option value="GDG Ekaterinburg">GDG Ekaterinburg</option>
		<option value="GDG Ekiti State University">GDG Ekiti State University</option>
		<option value="GDG ENSI">GDG ENSI</option>
		<option value="GDG Entre Rios">GDG Entre Rios</option>
		<option value="GDG Enugu">GDG Enugu</option>
		<option value="GDG Eskişehir">GDG Eskişehir</option>
		<option value="GDG Espoo">GDG Espoo</option>
		<option value="GDG Fayoum">GDG Fayoum</option>
		<option value="GDG Federal University Dutse">GDG Federal University Dutse</option>
		<option value="GDG Feira de Santana">GDG Feira de Santana</option>
		<option value="GDG Firenze">GDG Firenze</option>
		<option value="GDG Fortaleza">GDG Fortaleza</option>
		<option value="GDG Foumban">GDG Foumban</option>
		<option value="GDG Foz do Iguaçu">GDG Foz do Iguaçu</option>
		<option value="GDG Francisco Beltrão">GDG Francisco Beltrão</option>
		<option value="GDG Freiburg">GDG Freiburg</option>
		<option value="GDG Fresno">GDG Fresno</option>
		<option value="GDG Fribourg">GDG Fribourg</option>
		<option value="GDG FUNAAB">GDG FUNAAB</option>
		<option value="GDG Fuzhou">GDG Fuzhou</option>
		<option value="GDG Gaborone">GDG Gaborone</option>
		<option value="GDG Galwa">GDG Galwa</option>
		<option value="GDG Gandhinagar">GDG Gandhinagar</option>
		<option value="GDG Ganzhou">GDG Ganzhou</option>
		<option value="GDG GAUG">GDG GAUG</option>
		<option value="GDG Gaza">GDG Gaza</option>
		<option value="GDG Gela">GDG Gela</option>
		<option value="GDG Geneva">GDG Geneva</option>
		<option value="GDG Genova">GDG Genova</option>
		<option value="GDG George Town">GDG George Town</option>
		<option value="GDG German University in Cairo">GDG German University in Cairo</option>
		<option value="GDG Gigcity">GDG Gigcity</option>
		<option value="GDG Girona">GDG Girona</option>
		<option value="GDG Goa">GDG Goa</option>
		<option value="GDG Goiânia">GDG Goiânia</option>
		<option value="GDG Goma">GDG Goma</option>
		<option value="GDG Granada">GDG Granada</option>
		<option value="GDG Greenwich">GDG Greenwich</option>
		<option value="GDG Guangzhou">GDG Guangzhou</option>
		<option value="GDG Guatemala">GDG Guatemala</option>
		<option value="GDG Gulu">GDG Gulu</option>
		<option value="GDG Halsema">GDG Halsema</option>
		<option value="GDG Hamburg">GDG Hamburg</option>
		<option value="GDG Hamburg Android">GDG Hamburg Android</option>
		<option value="GDG Hampton Roads">GDG Hampton Roads</option>
		<option value="GDG Hangzhou">GDG Hangzhou</option>
		<option value="GDG Hanoi">GDG Hanoi</option>
		<option value="GDG Harare">GDG Harare</option>
		<option value="GDG Harare Institute of Technology">GDG Harare Institute of Technology</option>
		<option value="GDG Hefei">GDG Hefei</option>
		<option value="GDG Herakion">GDG Herakion</option>
		<option value="GDG Hong Kong">GDG Hong Kong</option>
		<option value="GDG Houston">GDG Houston</option>
		<option value="GDG Hudson Valley">GDG Hudson Valley</option>
		<option value="GDG Hyderabad">GDG Hyderabad</option>
		<option value="GDG Iasi">GDG Iasi</option>
		<option value="GDG Ibadan">GDG Ibadan</option>
		<option value="GDG Ica">GDG Ica</option>
		<option value="GDG IIT Guwahati">GDG IIT Guwahati</option>
		<option value="GDG IIT Kanpur">GDG IIT Kanpur</option>
		<option value="GDG Imperatriz">GDG Imperatriz</option>
		<option value="GDG Incheon">GDG Incheon</option>
		<option value="GDG Indore">GDG Indore</option>
		<option value="GDG INPHB">GDG INPHB</option>
		<option value="GDG Ishinomaki">GDG Ishinomaki</option>
		<option value="GDG Islamabad (Margalla)">GDG Islamabad (Margalla)</option>
		<option value="GDG Istanbul">GDG Istanbul</option>
		<option value="GDG Itumbiara">GDG Itumbiara</option>
		<option value="GDG Izmir">GDG Izmir</option>
		<option value="GDG Jaen">GDG Jaen</option>
		<option value="GDG Jakarta">GDG Jakarta</option>
		<option value="GDG Jalandhar">GDG Jalandhar</option>
		<option value="GDG Jaraguá do Sul">GDG Jaraguá do Sul</option>
		<option value="GDG Jataí">GDG Jataí</option>
		<option value="GDG Jihlava">GDG Jihlava</option>
		<option value="GDG JIIT Noida">GDG JIIT Noida</option>
		<option value="GDG Jinja">GDG Jinja</option>
		<option value="GDG JKUAT">GDG JKUAT</option>
		<option value="GDG João Pessoa">GDG João Pessoa</option>
		<option value="GDG Jodhpur">GDG Jodhpur</option>
		<option value="GDG Jogjakarta">GDG Jogjakarta</option>
		<option value="GDG JSIIT">GDG JSIIT</option>
		<option value="GDG Juiz de Fora">GDG Juiz de Fora</option>
		<option value="GDG Juliaca">GDG Juliaca</option>
		<option value="GDG Kabarak">GDG Kabarak</option>
		<option value="GDG Kaduna">GDG Kaduna</option>
		<option value="GDG Kaduna State University">GDG Kaduna State University</option>
		<option value="GDG Kaliningrad">GDG Kaliningrad</option>
		<option value="GDG Kampala">GDG Kampala</option>
		<option value="GDG Kano">GDG Kano</option>
		<option value="GDG Kansas City">GDG Kansas City</option>
		<option value="GDG Karlsruhe">GDG Karlsruhe</option>
		<option value="GDG Kashmir">GDG Kashmir</option>
		<option value="GDG Kathmandu">GDG Kathmandu</option>
		<option value="GDG Katsina">GDG Katsina</option>
		<option value="GDG Kaunas">GDG Kaunas</option>
		<option value="GDG Kazan">GDG Kazan</option>
		<option value="GDG Kenya Methodist University">GDG Kenya Methodist University</option>
		<option value="GDG Kigali">GDG Kigali</option>
		<option value="GDG Kimathi University">GDG Kimathi University</option>
		<option value="GDG Kisantu">GDG Kisantu</option>
		<option value="GDG Kisumu">GDG Kisumu</option>
		<option value="GDG KNUST">GDG KNUST</option>
		<option value="GDG Kobe">GDG Kobe</option>
		<option value="GDG Kocaeli">GDG Kocaeli</option>
		<option value="GDG Konya">GDG Konya</option>
		<option value="GDG Korea Android">GDG Korea Android</option>
		<option value="GDG Korea Golang">GDG Korea Golang</option>
		<option value="GDG Korea WebTech">GDG Korea WebTech</option>
		<option value="GDG Kota Kinabalu">GDG Kota Kinabalu</option>
		<option value="GDG Kozhikode">GDG Kozhikode</option>
		<option value="GDG KPI">GDG KPI</option>
		<option value="GDG Kraków">GDG Kraków</option>
		<option value="GDG Krasnoyarsk">GDG Krasnoyarsk</option>
		<option value="GDG Kremenchuk">GDG Kremenchuk</option>
		<option value="GDG Kuala Lumpur">GDG Kuala Lumpur</option>
		<option value="GDG Kütahya">GDG Kütahya</option>
		<option value="GDG Kyiv-Center">GDG Kyiv-Center</option>
		<option value="GDG Kyoto">GDG Kyoto</option>
		<option value="GDG Kyushu">GDG Kyushu</option>
		<option value="GDG La Paz">GDG La Paz</option>
		<option value="GDG La Rioja">GDG La Rioja</option>
		<option value="GDG Lafia">GDG Lafia</option>
		<option value="GDG Laghouat">GDG Laghouat</option>
		<option value="GDG Lagos">GDG Lagos</option>
		<option value="GDG Lahore">GDG Lahore</option>
		<option value="GDG Lanzhou">GDG Lanzhou</option>
		<option value="GDG Las Vegas">GDG Las Vegas</option>
		<option value="GDG Lavras">GDG Lavras</option>
		<option value="GDG Legon">GDG Legon</option>
		<option value="GDG Les Rosiers">GDG Les Rosiers</option>
		<option value="GDG Libreville">GDG Libreville</option>
		<option value="GDG Lille">GDG Lille</option>
		<option value="GDG Lima">GDG Lima</option>
		<option value="GDG Limbe">GDG Limbe</option>
		<option value="GDG Lisbon">GDG Lisbon</option>
		<option value="GDG Liverpool">GDG Liverpool</option>
		<option value="GDG Lleida">GDG Lleida</option>
		<option value="GDG LNMIIT Jaipur">GDG LNMIIT Jaipur</option>
		<option value="GDG Lome">GDG Lome</option>
		<option value="GDG London">GDG London</option>
		<option value="GDG Los Angeles">GDG Los Angeles</option>
		<option value="GDG Louisville">GDG Louisville</option>
		<option value="GDG Lublin">GDG Lublin</option>
		<option value="GDG Lubum">GDG Lubum</option>
		<option value="GDG Lusaka">GDG Lusaka</option>
		<option value="GDG Lviv">GDG Lviv</option>
		<option value="GDG Maceió">GDG Maceió</option>
		<option value="GDG Madrid">GDG Madrid</option>
		<option value="GDG Madurai">GDG Madurai</option>
		<option value="GDG Makerere">GDG Makerere</option>
		<option value="GDG Makhachkala">GDG Makhachkala</option>
		<option value="GDG Málaga">GDG Málaga</option>
		<option value="GDG Malta">GDG Malta</option>
		<option value="GDG Manabí">GDG Manabí</option>
		<option value="GDG Managua">GDG Managua</option>
		<option value="GDG Manaus">GDG Manaus</option>
		<option value="GDG Manipal">GDG Manipal</option>
		<option value="GDG Maputo">GDG Maputo</option>
		<option value="GDG Maringá">GDG Maringá</option>
		<option value="GDG Maroua">GDG Maroua</option>
		<option value="GDG Mascara">GDG Mascara</option>
		<option value="GDG Mbale">GDG Mbale</option>
		<option value="GDG Mbarara">GDG Mbarara</option>
		<option value="GDG Melbourne">GDG Melbourne</option>
		<option value="GDG Menorca">GDG Menorca</option>
		<option value="GDG Mercer University">GDG Mercer University</option>
		<option value="GDG Miage Gi Cocody">GDG Miage Gi Cocody</option>
		<option value="GDG Milan">GDG Milan</option>
		<option value="GDG Milton Keynes">GDG Milton Keynes</option>
		<option value="GDG Minia">GDG Minia</option>
		<option value="GDG Minna">GDG Minna</option>
		<option value="GDG Minsk">GDG Minsk</option>
		<option value="GDG Misantla">GDG Misantla</option>
		<option value="GDG MMUST">GDG MMUST</option>
		<option value="GDG Modesto">GDG Modesto</option>
		<option value="GDG Moldova">GDG Moldova</option>
		<option value="GDG Mombasa">GDG Mombasa</option>
		<option value="GDG Monastir">GDG Monastir</option>
		<option value="GDG Monterrey">GDG Monterrey</option>
		<option value="GDG Montes Claros">GDG Montes Claros</option>
		<option value="GDG Montevideo">GDG Montevideo</option>
		<option value="GDG Montreal Android">GDG Montreal Android</option>
		<option value="GDG Morelia">GDG Morelia</option>
		<option value="GDG Moscow">GDG Moscow</option>
		<option value="GDG MUBS">GDG MUBS</option>
		<option value="GDG Mumbai">GDG Mumbai</option>
		<option value="GDG Muncie">GDG Muncie</option>
		<option value="GDG Munich">GDG Munich</option>
		<option value="GDG Munich Android">GDG Munich Android</option>
		<option value="GDG Munich Golang">GDG Munich Golang</option>
		<option value="GDG Murcia">GDG Murcia</option>
		<option value="GDG Mwanza">GDG Mwanza</option>
		<option value="GDG Nablus">GDG Nablus</option>
		<option value="GDG Nairobi">GDG Nairobi</option>
		<option value="GDG Namur Android">GDG Namur Android</option>
		<option value="GDG Nanjing">GDG Nanjing</option>
		<option value="GDG Nanning">GDG Nanning</option>
		<option value="GDG Nantes">GDG Nantes</option>
		<option value="GDG NanYang">GDG NanYang</option>
		<option value="GDG Nashville">GDG Nashville</option>
		<option value="GDG Natal">GDG Natal</option>
		<option value="GDG Ndéré">GDG Ndéré</option>
		<option value="GDG Nebrodi">GDG Nebrodi</option>
		<option value="GDG Netherlands">GDG Netherlands</option>
		<option value="GDG Neuquén">GDG Neuquén</option>
		<option value="GDG New Delhi">GDG New Delhi</option>
		<option value="GDG New Hampshire">GDG New Hampshire</option>
		<option value="GDG New Haven">GDG New Haven</option>
		<option value="GDG New York">GDG New York</option>
		<option value="GDG Newark">GDG Newark</option>
		<option value="GDG Nice">GDG Nice</option>
		<option value="GDG NIT Surat">GDG NIT Surat</option>
		<option value="GDG Nizhny Novgorod">GDG Nizhny Novgorod</option>
		<option value="GDG Njikoka">GDG Njikoka</option>
		<option value="GDG Nkongsamba">GDG Nkongsamba</option>
		<option value="GDG Norte RS">GDG Norte RS</option>
		<option value="GDG North East">GDG North East</option>
		<option value="GDG North Jersey">GDG North Jersey</option>
		<option value="GDG Northern Colorado">GDG Northern Colorado</option>
		<option value="GDG Nouakchott">GDG Nouakchott</option>
		<option value="GDG Novi Sad">GDG Novi Sad</option>
		<option value="GDG Novosibirsk">GDG Novosibirsk</option>
		<option value="GDG Oakdale">GDG Oakdale</option>
		<option value="GDG OAU">GDG OAU</option>
		<option value="GDG Odessa">GDG Odessa</option>
		<option value="GDG OKC">GDG OKC</option>
		<option value="GDG Oko">GDG Oko</option>
		<option value="GDG Omaha">GDG Omaha</option>
		<option value="GDG Omsk">GDG Omsk</option>
		<option value="GDG Open Lima">GDG Open Lima</option>
		<option value="GDG Oran">GDG Oran</option>
		<option value="GDG Ostrava">GDG Ostrava</option>
		<option value="GDG Ostwestfalen Lippe">GDG Ostwestfalen Lippe</option>
		<option value="GDG Ourense">GDG Ourense</option>
		<option value="GDG Palermo">GDG Palermo</option>
		<option value="GDG Panama City">GDG Panama City</option>
		<option value="GDG Pardubice">GDG Pardubice</option>
		<option value="GDG Paris">GDG Paris</option>
		<option value="GDG Paris Android">GDG Paris Android</option>
		<option value="GDG Pato Branco">GDG Pato Branco</option>
		<option value="GDG Paulo de Frontin">GDG Paulo de Frontin</option>
		<option value="GDG PDX">GDG PDX</option>
		<option value="GDG Penza">GDG Penza</option>
		<option value="GDG Perm">GDG Perm</option>
		<option value="GDG Petrópolis">GDG Petrópolis</option>
		<option value="GDG Petrozavodsk">GDG Petrozavodsk</option>
		<option value="GDG Philadelphia">GDG Philadelphia</option>
		<option value="GDG Philippines">GDG Philippines</option>
		<option value="GDG Phoenix">GDG Phoenix</option>
		<option value="GDG Pisa">GDG Pisa</option>
		<option value="GDG Pitesti">GDG Pitesti</option>
		<option value="GDG Plzeň">GDG Plzeň</option>
		<option value="GDG Poltava">GDG Poltava</option>
		<option value="GDG Polymer México">GDG Polymer México</option>
		<option value="GDG Port Harcourt">GDG Port Harcourt</option>
		<option value="GDG Porto">GDG Porto</option>
		<option value="GDG Prague">GDG Prague</option>
		<option value="GDG Pretoria">GDG Pretoria</option>
		<option value="GDG Puerto Rico">GDG Puerto Rico</option>
		<option value="GDG Pune">GDG Pune</option>
		<option value="GDG Pura Vida">GDG Pura Vida</option>
		<option value="GDG Rajkot">GDG Rajkot</option>
		<option value="GDG Reading and Thames Valley">GDG Reading and Thames Valley</option>
		<option value="GDG Recife">GDG Recife</option>
		<option value="GDG Regensburg">GDG Regensburg</option>
		<option value="GDG Reggio Calabria">GDG Reggio Calabria</option>
		<option value="GDG Reggio Emilia">GDG Reggio Emilia</option>
		<option value="GDG Rhein-Main">GDG Rhein-Main</option>
		<option value="GDG Ribeirão Preto">GDG Ribeirão Preto</option>
		<option value="GDG Riga">GDG Riga</option>
		<option value="GDG Rio de Janeiro">GDG Rio de Janeiro</option>
		<option value="GDG Rio de la Plata">GDG Rio de la Plata</option>
		<option value="GDG Rio Verde">GDG Rio Verde</option>
		<option value="GDG Rishon Le Zion">GDG Rishon Le Zion</option>
		<option value="GDG Roma Lab">GDG Roma Lab</option>
		<option value="GDG Rostov">GDG Rostov</option>
		<option value="GDG Ryazan">GDG Ryazan</option>
		<option value="GDG Rzeszów">GDG Rzeszów</option>
		<option value="GDG Sacramento">GDG Sacramento</option>
		<option value="GDG Salamanca">GDG Salamanca</option>
		<option value="GDG Salta">GDG Salta</option>
		<option value="GDG Salvador">GDG Salvador</option>
		<option value="GDG Samara">GDG Samara</option>
		<option value="GDG San Francisco">GDG San Francisco</option>
		<option value="GDG Sana'a">GDG Sana'a</option>
		<option value="GDG Santa Cruz">GDG Santa Cruz</option>
		<option value="GDG Santiago">GDG Santiago</option>
		<option value="GDG Santo Domingo">GDG Santo Domingo</option>
		<option value="GDG São João da Boa Vista">GDG São João da Boa Vista</option>
		<option value="GDG São José dos Campos">GDG São José dos Campos</option>
		<option value="GDG São Luis">GDG São Luis</option>
		<option value="GDG Sardegna">GDG Sardegna</option>
		<option value="GDG SBA">GDG SBA</option>
		<option value="GDG Seattle">GDG Seattle</option>
		<option value="GDG Semarang">GDG Semarang</option>
		<option value="GDG Senador Canedo">GDG Senador Canedo</option>
		<option value="GDG Seoul">GDG Seoul</option>
		<option value="GDG Serra Gaúcha">GDG Serra Gaúcha</option>
		<option value="GDG SETTAT">GDG SETTAT</option>
		<option value="GDG Sevilla">GDG Sevilla</option>
		<option value="GDG Sfax">GDG Sfax</option>
		<option value="GDG Shanghai">GDG Shanghai</option>
		<option value="GDG Sharjah">GDG Sharjah</option>
		<option value="GDG Shenzhen">GDG Shenzhen</option>
		<option value="GDG Shikoku">GDG Shikoku</option>
		<option value="GDG Shinshu">GDG Shinshu</option>
		<option value="GDG Shivamogga">GDG Shivamogga</option>
		<option value="GDG Silicon Valley">GDG Silicon Valley</option>
		<option value="GDG Singapore">GDG Singapore</option>
		<option value="GDG Sivas">GDG Sivas</option>
		<option value="GDG SLAU">GDG SLAU</option>
		<option value="GDG Sofia">GDG Sofia</option>
		<option value="GDG Sonargaon">GDG Sonargaon</option>
		<option value="GDG Soongsil University">GDG Soongsil University</option>
		<option value="GDG Sorocaba">GDG Sorocaba</option>
		<option value="GDG Sousse">GDG Sousse</option>
		<option value="GDG Space Coast">GDG Space Coast</option>
		<option value="GDG Sri Lanka">GDG Sri Lanka</option>
		<option value="GDG St. Louis">GDG St. Louis</option>
		<option value="GDG St. Petersburg">GDG St. Petersburg</option>
		<option value="GDG Stockholm">GDG Stockholm</option>
		<option value="GDG Strathmore">GDG Strathmore</option>
		<option value="GDG Sudbury">GDG Sudbury</option>
		<option value="GDG Sul Fluminense">GDG Sul Fluminense</option>
		<option value="GDG Sun Coast">GDG Sun Coast</option>
		<option value="GDG Surabaya">GDG Surabaya</option>
		<option value="GDG Suzhou">GDG Suzhou</option>
		<option value="GDG Sydney">GDG Sydney</option>
		<option value="GDG Taipei">GDG Taipei</option>
		<option value="GDG TAMU">GDG TAMU</option>
		<option value="GDG Taraba">GDG Taraba</option>
		<option value="GDG Tarija">GDG Tarija</option>
		<option value="GDG Tarragona">GDG Tarragona</option>
		<option value="GDG Tbilisi">GDG Tbilisi</option>
		<option value="GDG Techno">GDG Techno</option>
		<option value="GDG Tekirdağ">GDG Tekirdağ</option>
		<option value="GDG Tenerife">GDG Tenerife</option>
		<option value="GDG Ternopil">GDG Ternopil</option>
		<option value="GDG Thessaloniki">GDG Thessaloniki</option>
		<option value="GDG Thiruvanathapuram">GDG Thiruvanathapuram</option>
		<option value="GDG Tianjin">GDG Tianjin</option>
		<option value="GDG Tijuana">GDG Tijuana</option>
		<option value="GDG Tlemcen">GDG Tlemcen</option>
		<option value="GDG Tokyo">GDG Tokyo</option>
		<option value="GDG Toledo">GDG Toledo</option>
		<option value="GDG Torino">GDG Torino</option>
		<option value="GDG Toronto">GDG Toronto</option>
		<option value="GDG Toulouse Android">GDG Toulouse Android</option>
		<option value="GDG Tours">GDG Tours</option>
		<option value="GDG Trabzon">GDG Trabzon</option>
		<option value="GDG Trento">GDG Trento</option>
		<option value="GDG Três Rios">GDG Três Rios</option>
		<option value="GDG Triangle">GDG Triangle</option>
		<option value="GDG Tucson">GDG Tucson</option>
		<option value="GDG Tunis">GDG Tunis</option>
		<option value="GDG Twin Cities">GDG Twin Cities</option>
		<option value="GDG Uberaba">GDG Uberaba</option>
		<option value="GDG UCU">GDG UCU</option>
		<option value="GDG Udaipur">GDG Udaipur</option>
		<option value="GDG Ufa">GDG Ufa</option>
		<option value="GDG UNAM">GDG UNAM</option>
		<option value="GDG Unilag">GDG Unilag</option>
		<option value="GDG University of Cape Coast">GDG University of Cape Coast</option>
		<option value="GDG UNN">GDG UNN</option>
		<option value="GDG Utah">GDG Utah</option>
		<option value="GDG Uyo">GDG Uyo</option>
		<option value="GDG Uzhhorod">GDG Uzhhorod</option>
		<option value="GDG Valparaiso">GDG Valparaiso</option>
		<option value="GDG Vassouras">GDG Vassouras</option>
		<option value="GDG Venezia">GDG Venezia</option>
		<option value="GDG Vienna">GDG Vienna</option>
		<option value="GDG Vientiane">GDG Vientiane</option>
		<option value="GDG Vietnam">GDG Vietnam</option>
		<option value="GDG Vigo">GDG Vigo</option>
		<option value="GDG Vijayawada">GDG Vijayawada</option>
		<option value="GDG Villahermosa">GDG Villahermosa</option>
		<option value="GDG Visalia">GDG Visalia</option>
		<option value="GDG VIT Vellore">GDG VIT Vellore</option>
		<option value="GDG Vladivostok">GDG Vladivostok</option>
		<option value="GDG Voronezh">GDG Voronezh</option>
		<option value="GDG VUT">GDG VUT</option>
		<option value="GDG WadSouf">GDG WadSouf</option>
		<option value="GDG Warsaw">GDG Warsaw</option>
		<option value="GDG Washington DC">GDG Washington DC</option>
		<option value="GDG Waterloo">GDG Waterloo</option>
		<option value="GDG Wellington">GDG Wellington</option>
		<option value="GDG Wilmington">GDG Wilmington</option>
		<option value="GDG Windhoek">GDG Windhoek</option>
		<option value="GDG WISE University">GDG WISE University</option>
		<option value="GDG Wits">GDG Wits</option>
		<option value="GDG Women Lima">GDG Women Lima</option>
		<option value="GDG WonderCoders">GDG WonderCoders</option>
		<option value="GDG Wuhan">GDG Wuhan</option>
		<option value="GDG Xi'an">GDG Xi'an</option>
		<option value="GDG Xiamen">GDG Xiamen</option>
		<option value="GDG Yamoussoukro">GDG Yamoussoukro</option>
		<option value="GDG Yangon">GDG Yangon</option>
		<option value="GDG Yerevan">GDG Yerevan</option>
		<option value="GDG Zagreb">GDG Zagreb</option>
		<option value="GDG Zamboanga">GDG Zamboanga</option>
		<option value="GDG Žďár nad Sázavou">GDG Žďár nad Sázavou</option>
		<option value="GDG Zhangjiakou">GDG Zhangjiakou</option>
		<option value="GDG Zhengzhou">GDG Zhengzhou</option>
		<option value="GDG Zhuhai">GDG Zhuhai</option>
		<option value="GDG Zürich">GDG Zürich</option>
	</select><br>
	<b><small>Please note that you cannot change this once you started.</small></b>
	<p align="right">
		<a id="selectChapter" class="raised_button" disabled>Select</a>
	</p>
</div>