<div id="view">
	<div class="content dense">
		<div class="wrapper">
			<div class="columns">
				<div class="col-6 offset-3 t-col-8 t-offset-2 m-col-12 m-offset-0 codelabs">
						<div id="pointMsg" class="card amber white-text" style="margin: 0px 0px 24px 0px; display: none">
							<div class="wrapper">
								<b>Earn points by finishing a codelab!</b>
							</div>
						</div>
					<div class="table">
						<div class="cell"><b>My Points:</b> <span id="mypoints"></span></div>
						<div class="cell right"><b>Ranking:</b> <span id="myranking"></span></div>
					</div>
					<a class="card table middle codelab-list ripple" data-codelab-id="">
						<div class="cell fit">
							<img src="">
						</div>
						<div class="cell">
							<span class="title"></span>
						</div>
						<div class="cell fit nowrap">
							
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		var i = 1;
		$parent = $(".codelabs");
		$template = $parent.children(".codelab-list");
		$disabled = false;
		App.User.updatePoints();
		App.User.getRanking();
		$.each(App.Codelabs.list, function(key, data) {
			if($(".codelabs .codelab-list").length != i)
				$parent.append($template.clone());
			$last = $(".codelabs .codelab-list:last-child");
			$last.find("img").attr("src", App.getCodelabImage(key));
			$last.find("span.title").html(data.desc);
			$last.attr("data-codelab-id", key);
			App.Firebase.ref("users/"+App.User.loggedIn.uid+"/codelabs/"+key).once("value", function(data) {
				$codelab = $parent.find(".codelab-list[data-codelab-id="+key+"]");
				function disableCodelab(key) {
					$(".codelabs a.codelab-list:not([data-codelab-id="+key+"])").attr("data-codelab-status", "disabled");
					$(".codelabs a.codelab-list[data-codelab-id="+key+"]").attr("data-codelab-status", "enabled");
				}
				if(data.child("end_quiz").exists()) {
					$codelab.removeClass("code quiz")
					if(data.val()["cA"] > 3)
						$codelab.addClass("done");
					else
						$codelab.addClass("fail");
					$codelab.find("div:last-child").html('<i class="material-icons"></i>');
					var status = "enabled";
					if($disabled)
						status = "disabled";
					$codelab.attr("data-codelab-status", status);
				} else if(data.child("start_quiz").exists()) {
					$codelab.removeClass("code").addClass("quiz");
					$codelab.find("div:last-child").html('<span class="countdown"></span>');
					App.Codelabs.Quiz.init(key);
					$disabled = true;
					disableCodelab(key);
				} else if(data.child("end_time").exists()) {
					$codelab.removeClass("code").addClass("quiz");
					$codelab.find("div:last-child").html('<i class="material-icons"></i>');
					$disabled = true;
					disableCodelab(key);
				} else if (data.child("start_time").exists()) {
					$codelab.find("div:last-child").html('<span class="countdown"></span>');
					$disabled = true;
					disableCodelab(key);
					App.Codelabs.readyCountdown(key);
				} else if(!data.hasChildren()) {
					$codelab.addClass("code").removeClass("quiz");
					$codelab.find("div:last-child").html('<i class="material-icons"></i>');
					var status = "enabled";
					if($disabled)
						status = "disabled";
					$codelab.attr("data-codelab-status", status);
				}
			})

			i++;
		});
	})
	</script>
</div>