<div id="view">
	<div class="content">
		<div class="wrapper">
			<div class="columns">
				<div class="col-6 offset-3 t-col-8 t-offset-2 m-col-12 m-offset-0">
					<div class="table">
						<div class="cell"><b>My Points:</b> 1231</div>
						<div class="cell right"><b>Ranking:</b> 1</div>
					</div>
					<a onclick="App.DialogBox.show()" class="card table middle codelab-list code ripple">
						<div class="cell fit">
							<img src="includes/images/codelabs/android.png">
						</div>
						<div class="cell">
							<span>Lorem ipsum dolor sit amet.</span>
						</div>
						<div class="cell fit">
							<i class="material-icons"></i>
						</div>
					</a>
					<a class="card table middle codelab-list code ripple">
						<div class="cell fit">
							<img src="includes/images/codelabs/firebase.png">
						</div>
						<div class="cell">
							<span>Lorem ipsum dolor sit amet.</span>
						</div>
						<div class="cell fit">
							<i class="material-icons"></i>
						</div>
					</a>
					<a class="card table middle codelab-list code ripple">
						<div class="cell fit">
							<img src="includes/images/codelabs/cardboard.png">
						</div>
						<div class="cell">
							<span>Lorem ipsum dolor sit amet.</span>
						</div>
						<div class="cell fit">
							<i class="material-icons"></i>
						</div>
					</a>
					<a class="card table middle codelab-list code ripple">
						<div class="cell fit">
							<img src="includes/images/codelabs/cloud.png">
						</div>
						<div class="cell">
							<span>Lorem ipsum dolor sit amet.</span>
						</div>
						<div class="cell fit">
							<i class="material-icons"></i>
						</div>
					</a>
					<a class="card table middle codelab-list code ripple">
						<div class="cell fit">
							<img src="includes/images/codelabs/pwa.png">
						</div>
						<div class="cell">
							<span>Lorem ipsum dolor sit amet.</span>
						</div>
						<div class="cell fit">
							<i class="material-icons"></i>
						</div>
					</a>
					<a class="card table middle codelab-list code ripple">
						<div class="cell fit">
							<img src="includes/images/codelabs/polymer.png">
						</div>
						<div class="cell">
							<span>Lorem ipsum dolor sit amet.</span>
						</div>
						<div class="cell fit">
							<i class="material-icons"></i>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		App.afterLoad();
	})
	</script>
</div>