<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/utils/flattened-nodes-observer.html">
<link rel="import" href="../../polyapp-location/components/polyapp-location.html">
<link rel="import" href="../../polyapp-location/components/polyapp-query-params.html">


<dom-module id="polyapp-router">
  <template>
    <style is="custom-style">
      div[role='main'] {
        position: relative;
      }

      ::slotted(.page) {
        position: absolute;
        background-color: white;
        width: 100%;
        top: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s;
      }

      ::slotted(*) > .page {
        position: absolute;
        background-color: white;
        width: 100%;
        top: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s;
      }

      ::slotted(.page--on-view) {
        position: relative !important;
        opacity: 1;
        z-index: 0;
      }

      ::slotted(*) > .page--on-view {
        position: relative !important;
        opacity: 1;
        z-index: 0;
      }
    </style>

    <polyapp-location
        path="{{path}}"
        query="{{__query}}"
        hash="{{hash}}"></polyapp-location>
    <polyapp-query-params
        params-string="{{__query}}"
        params-object="{{queryParams}}"></polyapp-query-params>

    <div role="main">
      <slot></slot>
    </div>
  </template>
  <script>
    (() => {
      class PolyappRouter extends Polymer.Element {
        static get is () { return 'polyapp-router' }

        static get properties () {
          return {
            /**
             * The current path of the app. Changes depending on the URL put at the top
             * or pushed in the state of the browser
             */
            path: {
              type: String,
              notify: true,
              observer: '__pathChanged'
            },

            /**
             * This is an object that holds the values of the parameters in the route
             * pattern set in the current page element being viewed.
             */
            params: {
              type: Object,
              notify: true
            },

            /**
             * This is an object that holds the values of the query parameters in the url
             */
            queryParams: {
              type: Object,
              notify: true,
              observer: '__setQueryParams'
            },

            /**
             * This is for iron-selected navigation lists
             */
            currentRoute: {
              type: String,
              notify: true
            }
          }
        }

        constructor () {
          super()
          // if (performance) {
          //   console.log('Customized App Router constructor called: ' + (performance.now() - window.globalStart))
          // }
          this.__lazyImportArea = null
          Object.defineProperty(this, '__routes', { value: {} })
          Object.defineProperty(this, '__nodes', { value: {} })
        }

        connectedCallback () {
          super.connectedCallback()

          if (!this.parentTagName) {
            this.__lazyImportArea = document.head
          } else {

          }
          this._observer = new Polymer.FlattenedNodesObserver(this, (info) => {
            this.__contentAdded(info.addedNodes.filter((node) => (node.nodeType === window.Node.ELEMENT_NODE)))
          })
        }

        disconnectedCallback () {
          super.disconnectedCallback()
          if (this._observer) this._observer.disconnect()
        }

        /**
         * Called in the attached lifecycle method to put the children to the dictionary
         * for easy referencing
         */
        __contentAdded (pages) {
          var startTime
          if (window.performance) {
            startTime = performance.now()
          }
          for (var i in pages) {
            var element = pages[i]
            if (element && element.hasAttribute && element.hasAttribute('route')) {
              element.classList.add('page')
              var route = element.getAttribute('route')
              var title = element.getAttribute('title')
              var auth = element.hasAttribute('auth')

              if (!this.__routes[route]) {
                Object.defineProperty(this.__routes, route, { enumerable: true, value: { title, auth } })
                Object.defineProperty(this.__routes[route], 'element', { value: element })
              }

              if (!this.__nodes[element.nodeName.toLowerCase()]) {
                Object.defineProperty(this.__nodes, element.nodeName.toLowerCase(), { enumerable: true, value: {} })
              }
            }
          }

          if (window.ga && window.performance) {
            ga('send', 'timing', 'app-router', '__contentAdded', performance.now() - startTime)
          }

          // if (performance) {
          //   console.log('Pages loaded in the customized app router: ' + (performance.now() - window.globalStart))
          // }

          this.__pathChanged(this.path)
        }

        /**
         * Sets the queryParams property and updates the element's params and queryParams
         * properties. It also calls the page element's updateView method if it exists
         */
        __setQueryParams () {
          this.__updateCurrentViewData()
        }

        /**
         *  updates the currentView using the updateView method and
         *  and also updates the currentView's params and queryParams attributes
         */
        __updateCurrentViewData () {
          if (this.__currentRoute &&
            this.__routes[this.__currentRoute] &&
            this.__routes[this.__currentRoute].element &&
            typeof this.__routes[this.__currentRoute].element._setProperty === 'function') {
            this.__routes[this.__currentRoute].element._setProperty('params', this.params || {})
            this.__routes[this.__currentRoute].element._setProperty('queryParams', this.queryParams || {})
          }
        }

        __pathChanged (path) {
          if (window.performance) {
            this.__pathPerfStart = performance.now()
          }
          var routes = this.__routes
          var patternMatched = null
          var namedMatches = {}
          this.params = {}

          this.dispatchEvent(new CustomEvent('page-loading', { bubbles: true, cancelable: true, composed: true }))

          // TODO: TEST IF THIS IS THE RIGHT WAY
          this.currentRoute = path
          // goes checks each and every route
          for (var pattern in routes) {
            // Because 404 and 403 are not url patterns
            if (pattern === 'not-authorized' || pattern === 'not-found') {
              continue
            }

            if (window.pathToRegexp) {
              var keys = []
              var re = window.pathToRegexp(pattern, keys)
              var exec = re.exec(path)

              if (exec) {
                patternMatched = pattern
                namedMatches = {}
                for (var j = 0; j < keys.length; j++ ) {
                  namedMatches[keys[j].name] = exec[j + 1]
                }
                break
              }
            } else {
              var remainingPieces = path.split('/')
              var patternPieces = pattern.split('/')
              var pathLength = remainingPieces[remainingPieces.length - 1] === '' ? remainingPieces.length - 1 : remainingPieces.length
              var patternLength = patternPieces[patternPieces.length - 1] === '' ? patternPieces.length - 1 : patternPieces.length
              var routeMatched = []
              namedMatches = {}

              // does the match making if the path length and pattern lenght is the same
              // or if the last part of the pattern is a *
              if ((pathLength === patternLength) || patternPieces[patternPieces.length - 1] === '*') {
                // evaluate and match the path to pattern
                for (var i = 0; i < patternPieces.length; i++) {
                  var patternPiece = patternPieces[i]

                  // stops if the pattern piece is not existing
                  if (!patternPiece && patternPiece !== '') {
                    break
                  }

                  // get the left side of the path.
                  var pathPiece = remainingPieces.shift()

                  // stops if the left side doesn't exist
                  if (!pathPiece && pathPiece !== '') {
                    break
                  }

                  // push the current pattern to the route matched
                  routeMatched.push(patternPiece)

                  // if it has a ':', it means that the value in the current path fragment
                  // should be put in the variable that has the name after the ':'
                  if (patternPiece.charAt(0) === ':') {
                    namedMatches[patternPiece.slice(1)] = pathPiece

                  // if it is a '*', it means that it should accept all paths that has
                  // a prefix of the route matched
                  } else if (patternPiece === '*') {
                    patternMatched = routeMatched.join('/')

                  // the pattern piece and the path piece doesn't match, go to next route pattern
                  } else if (patternPiece !== pathPiece) {
                    patternMatched = null
                    break
                  }

                  // create the pattern matched
                  patternMatched = routeMatched.join('/')
                }

                // if pattern matched is created, stop searching and change views
                if (patternMatched) {
                  break
                }
              }
            }
          }

          // if pattern matched is created, change the view, if exausted all
          // route patterns, make view a not-found
          if (Object.entries(routes).length) {
            if (patternMatched) {
              this.__newRoute = patternMatched
              this.params = namedMatches || {}
            } else {
              this.params = {
                error: 'No route found'
              }
              this.__newRoute = 'not-found'
            }
            this.__checkAuth()
          }
        }

        /**
         * Changes the viewport
         */
        __checkAuth () {
          var newView = this.__routes[this.__newRoute]

          // if there's no element that exists given a route pattern
          if (!newView || !newView.element) {
            // check if adding a * would do the trick
            var array = this.__newRoute.split('/')

            // even if adding a * at the end doesn't work, it will not do anything
            if (array[array.length - 1] === '*') {
              return
            // if the the last of the pattern is '', just change it to * and then check again
            } else if (array[array.length - 1] === '') {
              array[array.length - 1] = '*'
            } else {
              array.push('*')
            }

            this.__newRoute = array.join('/')
            return this.__checkAuth()
          }
          // check if the page element has an auth attribute and if it is set to true or false
          if (newView.auth) {
            return newView.element.dispatchEvent(new CustomEvent('check-auth'))
          }

          this.__loadView()
        }

        __loadView () {
          var newView = this.__routes[this.__newRoute]
          var currentView = this.__routes[this.__currentRoute]
          var data = {
            params: this.params,
            queryParams: this.queryParams
          }

          // if the next view is just equal to the same view, just update the data.
          if (this.__newRoute === this.__currentRoute) {
            return this.__updateCurrentViewData()
          }

          // calls exitView method of the currentView element
          if (currentView && currentView.element && currentView.element.unloadView && typeof currentView.element.unloadView === 'function') {
            currentView.element.unloadView(data)
          }

          if (!newView) {
            throw new Error(`no node existing for route: ${this.__newRoute}`)
          }

          // if (performance) {
          //   console.log('Start loading the page component: ' + (performance.now() - window.globalStart))
          // }

          if (!this.__nodes[newView.element.nodeName.toLowerCase()].loaded) {
            new Promise((resolve, reject) => {
              var link = this.__lazyImportArea.querySelector(`link[rel='lazy-import'][node='${newView.element.nodeName.toLowerCase()}']`)
              if (link) {
                if (link.hasAttribute('href')) {
                  Polymer.importHref(App.baseUrl + link.getAttribute('href'), (event) => {
                    resolve(newView.element.nodeName.toLowerCase(), event)
                  }, (error) => {
                    reject(new Error(`No file found: ${link.getAttribute('href')}`, {
                      detail: error
                    }))
                  }, true)
                } else {
                  reject(new Error('link has no href attribute'))
                }
              } else {
                reject(new Error('no link lazy-import found'))
              }
            }).then((nodeName) => {
              if (nodeName) {
                Object.defineProperty(this.__nodes[nodeName], 'loaded', { value: true })
                this.__changeView()
              }
            }).catch((err) => {
              if (window.ga) {
                ga('send', 'exception', {
                  exDescription: err.message,
                  exFatal: false
                })
              }
              console.error(err)
              if (this.__newRoute !== 'not-found') {
                this.__newRoute = 'not-found'
                this.params = {
                  error: err.message
                }
                this.__loadView()
              }
            })
          } else {
            this.__changeView()
          }
        }

        __changeView () {
          var newView = this.__routes[this.__newRoute]
          var data = {
            params: this.params,
            queryParams: this.queryParams
          }

          if (this.__nodes[newView.element.nodeName.toLowerCase()].loaded &&
              (newView.element.constructor === window.HTMLElement ||
                newView.element.constructor === window.HTMLUnknownElement)) {
            var err = new Error('You have loaded a different file that didn\'t define the element: ' +
                      newView.element.tagName.toLocaleLowerCase())
            if (window.ga) {
              ga('send', 'exception', {
                exDescription: err.message,
                exFatal: false
              })
            }

            console.error(err)
            if (this.__newRoute !== 'not-found') {
              this.__newRoute = 'not-found'
              this.params = {
                error: err.message
              }
              this.__loadView()
            }
          }

          this.__selectPage(this.__newRoute)

          this.__currentRoute = this.__newRoute

          if (newView && newView.element && newView.element.loadView && typeof newView.element.loadView === 'function') {
            newView.element.loadView(data)
          }

          this.__updateCurrentViewData()

          if (newView && newView.title) {
            document.title = newView.title
          }

          // this.dispatchEvent(new CustomEvent('view-loaded'), {
          //   detail: {
          //     view: this.__newView
          //   }
          // })

          // if (performance) {
          //   console.log('Component viewed in customized router: ' + (performance.now() - window.globalStart))
          // }

          this.dispatchEvent(new CustomEvent('page-loaded', { bubbles: true, cancelable: true, composed: true }))

          if (window.ga) {
            ga('set', 'page', this.path)
            ga('send', 'pageview')
            if (window.performance) {
              ga('send', 'timing', 'app-router', 'loadPage', performance.now() - this.__pathPerfStart)
            }
          }
        }

        __selectPage (route) {
          if (this.$.viewport && this.$.viewport.select) {
            this.$.viewport.select(route)
          } else {
            for (var i in this.__routes) {
              this.__routes[i].element.classList.remove('page--on-view')
            }
            if (this.__routes[route]) {
              this.__routes[route].element.classList.add('page--on-view')
            } else {
              this.__routes['not-found'].element.classList.add('page--on-view')
            }
          }
        }

        authenticate (method) {
          if (!method()) {
            if (window.ga) {
              ga('send', 'exception', {
                exDescription: `user trying to access unauthorized page: ${this.__newRoute}`,
                exFatal: false
              })
            }
            this.__newRoute = 'not-authorized'
          }
          this.__loadView()
        }
      }

      window.customElements.define(PolyappRouter.is, PolyappRouter)
    })()
  </script>
</dom-module>
