<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../components/gdg-logo.html">
<link rel="import" href="../icons/devfest-icons.html">
<link rel="import" href="../fonts/devfest-fonts.html">

<dom-module id="devfest-footer">
  <template>
    <style>
    </style>

    <footer class="footer">
      <div class="top-mini">
        <div class="flex">
        </div>
        <div class="blue-mini color-mini">
        </div>
        <div class="red-mini color-mini">
        </div>
        <div class="yellow-mini color-mini">
        </div>
        <div class="green-mini color-mini">
        </div>
      </div>
      <div class="footer-columns">
        <template is="dom-repeat" items="[[footerLinks]]">
          <div class="footer-column">
            <h4>[[item.title]]</h4>

            <ul class="footer-link-list">
              <template is="dom-repeat" items="[[item.links]]" as="link">
                <li class="footer-link-item">
                   <a href="[[link.href]]">
                    [[link.name]]
                  </a>
                </li>
              </template>
            </ul>
          </div>
        </template>
        <div class="footer-column">
          <h4>Contact Us</h4>

          <p>
            Follow us in our social media pages.
          </p>

          <template is="dom-repeat" items="[[contactUs]]">
            <a href="[[item.href]]">
              <paper-icon-button icon="[[item.icon]]"></paper-icon-button>
            </a>
          </template>
        </div>
      </div>

      <div class="footer-bottom">
        <gdg-logo></gdg-logo>
      </div>
    </footer>
  </template>
  <script>
    (() => {
      class DevfestFooter extends Polymer.Element {
        static get is () { return 'devfest-footer' }

        static get properties () {
          return {
            footerLinks: {
              type: Array,
              value: [
                {
                  title: 'About GDG',
                  links: [
                    {
                      name: 'About',
                      href: 'https://www.gdgph.org/#/about'
                    },
                    {
                      name: 'Blog',
                      href: 'http://blog.gdgph.org/'
                    },
                    {
                      name: 'Events',
                      href: 'https://www.gdgph.org/#/events'
                    },
                    {
                      name: 'Team',
                      href: 'https://www.gdgph.org/#/team'
                    },
                    {
                      name: 'Code of Conduct',
                      href: 'https://www.gdgph.org/#/community/guidelines'
                    },
                    {
                      name: 'Google Developers Page',
                      href: 'https://developers.google.com/groups/chapter/105750470224587854845/'
                    }
                  ]
                },
                {
                  title: 'Get Involved',
                  links: [
                    {
                      name: 'Become a Sponsor',
                      href: 'https://www.gdgph.org/#/be/a-sponsor'
                    },
                    {
                      name: 'Become a Volunteer',
                      href: 'https://www.gdgph.org/#/be/a-volunteer'
                    },
                    {
                      name: 'Speaker Request',
                      href: 'http://eventrequest.gdgph.org/'
                    }
                  ]
                },
                {
                  title: 'Resources',
                  links: [
                    {
                      name: 'Media Kit',
                      href: 'https://drive.google.com/open?id=0Bz1mkCHCa8ndV3BoWE56NTh6OXM'
                    },
                    {
                      name: 'Photo Gallery',
                      href: 'https://www.facebook.com/gdgphilippines/photos/?tab=albums'
                    }
                  ]
                }
              ]
            },
            contactUs: {
              type: Array,
              value: [
                {
                  icon: 'devfest:google-plus',
                  href: 'https://plus.google.com/105750470224587854845'
                },
                {
                  icon: 'devfest:facebook',
                  href: 'https://www.facebook.com/gdgphilippines'
                },
                {
                  icon: 'devfest:twitter',
                  href: 'https://twitter.com/gdgphilippines'
                },
                {
                  icon: 'devfest:youtube',
                  href: 'https://www.youtube.com/channel/UCT9dkGk7ti1ok-JPUbXjTCg'
                },
                {
                  icon: 'devfest:instagram',
                  href: 'https://www.instagram.com/gdgphilippines/'
                }
              ]
            }
          }
        }
      }

      window.customElements.define(DevfestFooter.is, DevfestFooter)
    })()
  </script>
</dom-module>
