<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../../../core/modules/app-layout/app-header/app-header.html">
<link rel="import" href="../../../../core/modules/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../core/modules/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/shadycss/apply-shim.html">
<link rel="import" href="./devfest-button.html">
<link rel="import" href="./devfest-icon-button.html">
<link rel="import" href="../fonts/devfest-fonts.html">
<link rel="import" href="./gdg-logo.html">

<dom-module id="devfest-header">
  <template>
    <link rel="stylesheet" href="../styles/components/_devfest-header.scss">

    <app-header>
      <app-toolbar>
        <devfest-icon-button class="menu" icon="devfest:menu" on-tap="openDrawer"></devfest-icon-button>
        <gdg-logo mono></gdg-logo>
        <div class="spacer">
        </div>
        <div class="links">
          <devfest-button no-color href="/">Home</devfest-button>
          <devfest-button no-color href="/tickets">Tickets</devfest-button>
          <devfest-button no-color href="/speakers">Call for Speakers</devfest-button>
          <devfest-button href="https://devfestphilippines.eventbrite.com/" target="_blank">Get Tickets</devfest-button>
        </div>
      </app-toolbar>
    </app-header>
  </template>
  <script>
    (() => {
      class DevfestHeader extends Polymer.GestureEventListeners(Polymer.Element) {
        static get is () { return 'devfest-header' }

        openDrawer () {
          window.dispatchEvent(new CustomEvent('open-drawer'))
        }
      }

      window.customElements.define(DevfestHeader.is, DevfestHeader)
    })()
  </script>
</dom-module>
