<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../fonts/devfest-fonts.html">

<dom-module id="gdg-logo">
  <template>
    <link rel="stylesheet" href="../styles/components/_gdg-logo.scss">

    <a href="[[href]]" class="gdg-logo-anchor">
      <template is="dom-if" if="[[mono]]">
        <img class="mono" src="/images/logo_mono-compressed.png">
      </template>
      <template is="dom-if" if="[[grey]]">
        <img src="/images/gdgph-grey-compressed.png">
      </template>
      <template is="dom-if" if="[[colored]]">
        <img src="/images/gdg-icon.png"> GDG Philippines
      </template>
    </a>
  </template>
  <script>
    (() => {
      class GDGLogo extends Polymer.Element {
        static get is () { return 'gdg-logo' }

        static get properties () {
          return {
            grey: {
              type: Boolean,
              value: false
            },
            colored: {
              type: Boolean,
              value: false
            },
            mono: {
              type: Boolean,
              value: false
            },
            href: {
              type: String,
              value: '/'
            }
          }
        }

      }

      window.customElements.define(GDGLogo.is, GDGLogo)
    })()
  </script>
</dom-module>
