<dom-module id="devfest-header">
  <template>
    <link rel="stylesheet" href="./devfest-header.scss">

    <app-header fixed>
      <app-toolbar>
        <devfest-icon-button class="menu" icon="devfest:menu" on-tap="openDrawer"></devfest-icon-button>
        <gdg-logo mono></gdg-logo>
        <div class="spacer">
        </div>
        <div class="links">
          <template is="dom-repeat" items="[[menu]]">
            <devfest-button red="[[item.attributes.red]]" no-color="[[item.attributes.noColor]]" href="[[item.href]]">[[item.text]]</devfest-button>
          </template>

          <template is="dom-if" if="[[user.uid]]">
            <devfest-button no-color href="/codelabs">Codelabs</devfest-button>
            <devfest-button no-color href="/profile">Profile</devfest-button>
            <devfest-button on-tap="logout">Logout</devfest-button>
          </template>

          <template is="dom-if" if="[[!user.uid]]">
            <devfest-button href="/login">Login</devfest-button>
          </template>
        </div>
      </app-toolbar>
    </app-header>
  </template>
</dom-module>
