:host {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}

app-header {
  padding: 24px 12px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 9;

  app-toolbar {
    @apply --layout-horizontal;
    @apply --layout-center;

    gdg-logo {
      padding-top: 10px;
    }

    .menu {
      display: none;

      @media screen and (max-width: 700px) {
        display: block;
      }
    }

    .links {
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }
}

.spacer {
  @apply --layout-flex;
  min-width: 100px;
  height: 10px;

  @media screen and (max-width: 700px) {
    display: none;
  }
}

gdg-logo {
  opacity: 1;
  transition: opacity 0.5s;
}
