<dom-module id="devfest-drawer">
  <template>
    <link rel="stylesheet" href="./devfest-drawer.scss">

    <app-drawer>
      <app-header>
        <app-toolbar>
          <gdg-logo colored on-tap="closeDrawer"></gdg-logo>
        </app-toolbar>
      </app-header>
      <div class="links">
        <template is="dom-repeat" items="[[menu]]">
          <devfest-button no-color="[[item.attributes.noColor]]" href="[[item.href]]" on-tap="closeDrawer">[[item.text]]</devfest-button>
        </template>
      </div>
  </template>
</dom-module>
