app-drawer {
  z-index: 10;

  .links {
    padding: 20px;
  }

  app-header {
    background-color: #2196f3;
    padding: 24px 12px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    transform:none !important;
  }

  devfest-button {
    display: block;
    margin-bottom: 20px;
  }
}
