<center>
<img src="">
<span class="title"></span>
<div class="table middle left padding">
	<div class="cell fit"><i class="material-icons">info</i></div>
	<div class="cell"><p>You have <span class="countdown">-</span> to answer the quiz. Good luck!</p></div>
</div>
<div class="quiz table left padding">
	<div class="row">
		<div class="cell fit">
			<span class="question-number"></span>
		</div>
		<div class="cell">
			<span class="question"></span>
			<hr>
			<div class="options">
				<label><input type="radio"><i class="material-icons"></i><span class="desc"></span></label>
				<label><input type="radio"><i class="material-icons"></i><span class="desc"></span></label>
				<label><input type="radio"><i class="material-icons"></i><span class="desc"></span></label>
				<label><input type="radio"><i class="material-icons"></i><span class="desc"></span></label>
			</div>
		</div>
	</div>
</div>
<br>
<a id="submitQuiz" class="raised_button ripple">Submit</a>
<br>
<span class="countdown">-</span>
</center>