<div id="view">
	<div class="content">
		<div class="wrapper">
			<div class="columns">
				<div class="col-8 offset-2 t-col-10 t-offset-1 m-col-12 m-offset-0">
					<div class="card">
						<h4 class="blue white-text">Welcome</h4>
						<div class="wrapper">
							Hello there! Login via Google to access the codelabs!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		$(".loading").css("top", "-80px");
	})
	</script>
</div>